body#dashboard.modal-open .modal {
	background-color: rgba(0,0,0,0.7);
}

.content-overide {

	.modal-header {
		background: $theme-color;
		color: #fff;

		@media screen and (max-width: 505px) {
			padding: 5px;
		}
	}

	button.close {
		color: #fff;
		opacity: 1;
	}

	.modal-content {
		font-family: 'Roboto', sans-serif;

		.modal-header h4 {
			color: #fff;
			font-size: 1.125em;
		}

		.modal-body p {
			font-size: 1em;
		}

		.modal-body img {
			display: block;
			height: auto;
			margin: 15px auto;
			max-width: 100%;
		}
	}
}

.body .modal {
	z-index: 9999;
}

.announcement-series {

	.buttons, button, .btn {
		margin-bottom: 0;
	}

	.modal-dialog {
		margin-top: 50px;
	}

	.modal .modal-dialog {
		animation:animateleft 0.5s
	}

	.modal.in .modal-dialog {
	 animation:animateleft 0.5s
	}

	.modal-header {
		@media screen and (max-width: 505px) {
			padding: 5px;
		}

		@media screen and (max-width: 435px) {
			background: $theme-dark-blue;
			padding: 10px;
		}
	}

	.multi-pane:before {
		background: url('/images/announcement-before1.png') no-repeat center top;
		background-size: 100% 100%;
		content: " ";
		height: 40px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: -40px;
		width: 95%;

		@media screen and (max-width: 435px) {
			display: none;
		}
	}

	.single-pane:before {
		background: url('/images/announcement-before2.png') no-repeat center top;
		background-size: 100% 100%;
		content: " ";
		height: 20px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: -20px;
		width: 95%;

		@media screen and (max-width: 435px) {
			display: none;
		}
	}

	.modal-left {
		position: absolute;
		left: 0;
		top: 0;
		width: 35%;

		@media screen and (max-width: 435px) {
			display: none;
		}
	}

	.modal-right {
		float: right;
		width: 62%;

		@media screen and (max-width: 991px) {
			font-size: $font-small;
		}

		@media screen and (max-width: 435px) {
			float: none;
			width: 100%;
		}

		* {
			@include transitions(all 0.5s ease);
		}

		.modal-title {
			color: #00488B;
			font-size: 1.125em;
		}

		.modal-title i {
			color: #90A4AC;
			padding-right: 10px;
		}

		.modal-body {
			font-family: 'Roboto', sans-serif;
			height: 400px;
			overflow-y: scroll;
		}

		.modal-body h2 {
			color: #267FA5;
			font-size: 1.625em;
			margin-bottom: 25px;
		}

		.modal-body p {
			color: #455964;
			font-size: 1.125em;
		}
	}

	.modal-right .modal-title {
		@media screen and (max-width: 991px) {
			font-size: 1em;
		}

		@media screen and (max-width: 435px) {
			color: #fff;
		}
	}

	.modal-right .modal-title i {
		@media screen and (max-width: 435px) {
			color: $font-second-darker;
			font-size: 1.25em;
			font-weight: bold;
		}
	}

	.modal-right .modal-body {
		@media screen and (max-width: 991px) {
			height: 100%;
			max-height: 220px;
		}

		@media screen and (max-width: 767px) {
			max-height: 290px;
		}

		@media screen and (max-width: 710px) {
			max-height: 250px;
		}

		@media screen and (max-width: 640px) {
			max-height: 210px;
		}

		@media screen and (max-width: 570px) {
			max-height: 170px;
			padding: 5px;
		}

		@media screen and (max-width: 505px) {
			max-height: 150px;
		}

		@media screen and (max-width: 435px) {
			padding: 10px;
			max-height: 220px;
		}
	}

	.modal-right .modal-body h2 {
		@media screen and (max-width: 991px) {
			font-size: 1.25em;
			margin-bottom: 15px;
		}

		@media screen and (max-width: 570px) {
			margin-top: 5px;
			margin-bottom: 10px;
		}
	}

	.modal-right .modal-body p {
		@media screen and (max-width: 991px) {
			font-size: 0.875em;
		}
	}

	.modalFooter-left {
		float: left;
		padding: 5px 0;
	}

	.modalFooter-right {
		float: right;
	}
}

.modal-backdrop.in {
	display: none;
}

@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}