html * {
	@include box-sizing;
}

body {
	color: 000;
	font-family: $primary-font;
	font-size: $font-size;
	height: auto !important;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: fixed;
    text-align: center;
    width: 100%;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
}

.clear{ 
	clear:both;
}

.clearfix {
	display:block;
}

.clearfix:after {
	@include clearfix;
}

.left {
	float: left;
}

.right {
	float: right;
}

.full {
	width: 100%;
}

.red {
	color: #A5242D;
}

.alert-success {
	@include border-radius(5px);
	background: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
	margin-bottom: 10px;
	padding: 10px; 
}

.text-danger {
	color: #a94442;
}