<template>
    <div class="container">
        <div class="row">
            <div class="login-container">
                <img :src="'/images/login-logo.png'" class="logo" alt="logo"/>
                <h2 class="pull-right">LOGIN</h2>
                <div class="clearfix"></div>

                <form class="form-horizontal" role="form">
                    <div class="login-box">

                        <div class="form-group" :class="{'has-error' : errorsUsername}">
                            <div class="field-container">
                                <label>Username</label>
                                <input id="username" type="username" class="form-control" name="username" v-model="loginDetails.username" required autofocus>
                                <span class="glyphicon glyphicon-user input-icon"></span>
                                <span v-if="errorsUsername" class="help-block">
                                    <strong>{{usernameError}}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group" :class="{'has-error' : errorsPassword}">
                            <div class="field-container">
                                <label>Password</label>
                                <input id="password" type="password" class="form-control" v-model="loginDetails.password" name="password" required>
                                <span class="glyphicon glyphicon-lock input-icon"></span>
                                <span v-if="errorsPassword" class="help-block">
                                    <strong>{{passwordError}}</strong>
                                </span>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="loginDetails.remember"  name="remember" > Remember Me
                                    </label>
                                </div>
                            </div>
                        </div> -->

                        <div class="field-container row">
                            <div class="col-md-8 text-left nopadding">
                                <p>Have you forgotten your <a class="bold" href="">password?</a></p>
                                <p><a><i class="fa fa-home"></i> Back to Home Page</a></p>
                            </div>
                            <div class="col-md-4 text-right nopadding">
                                <button type="submit" @click.prevent="loginPost" class="btn yellow-btn">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    export default {

        data(){
            return{
            loginDetails:{
                login:'',
                password:'',
                remember:true
            },
            errorsUsername: false,
            errorsPassword: false,
            usernameError:null,
            passwordError:null

            }
        },
        methods:{
        loginPost(){
            let vm = this;

            vm.errorsUsername = false;
            vm.errorsPassword = false;

            axios.post('/admin/login', vm.loginDetails)
            .then(function (response) {
                // console.log(response);
                location.reload();
            })
            .catch(function (error) {
                var errors = error.response
                console.log(errors);

                if(errors.statusText === 'Unprocessable Entity'){
                    if(errors.data){
                        if(errors.data.errors.username){
                           vm.errorsUsername = true
                           vm.usernameError = _.isArray(errors.data.errors.username) ? errors.data.errors.username[0]: errors.data.errors.username
                        }
                        if(errors.data.errors.password){
                           vm.errorsPassword = true
                           vm.passwordError = _.isArray(errors.data.errors.password) ? errors.data.errors.password[0] : errors.data.errors.password
                        }
                    }
                }
            });
        }
        },
        mounted() {

        }
    }
</script>
