body {
	margin: 0;
	padding: 0;
	background: url('/images/login-bg.jpg') no-repeat center top;
	background-attachment: fixed;
	background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.loader {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	color: #000;
	font-size: 40px;
	background: rgba(255,255,255,1);

	i {
		position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		max-width: 35px;
		margin: 0 auto;
	}
}

// login
.login-overide {
	@include transitions-durations(500ms);

	* {
		@include transitions-durations(500ms);
	}

	.login-logo {
		font-size: 30px;
		padding: 100px 10px 20px; 
		text-align: center;
	}

	.login-title {
		color: #fff;
		font-family: 'Roboto', sans-serif;
		margin: 0 auto 30px;
		text-align: center;

		h2 {
			font-size: 25px;
			font-weight: 300;
		}
	}

	.login-container {
		margin: 0 auto;
		max-width: 400px;
		width: 100%;
	}

	.login-box{
		@include border-radius(5px);
		background: #fff;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 20px;
		padding: 40px 10px 70px;
		width: 100%;

		.field-container {
			margin: 0 auto;
			max-width: 360px;
		}

		.field-container input {
			@include border-radius(0);
			@include box-shadow(0 0 0);
			background: none;
			border: 1px solid #D9DEE4;
			color: #000;
			margin: 0 auto;
			padding: 10px 5px;
			text-align: center;
			width: 100%;
		}

		.field-container input:focus {
			@include box-shadow(0 0 5px rgba(193, 170, 111, 1));
			background: none;
		}

		.yellow-btn {
			@include border-radius(25px);
			display: block;
			font-size: 1.5625em;
			font-weight: 300;
			margin: 20px auto 0;
			max-width: 360px;
			padding: 5px;
			width: 100%;
		}
	}

	.login-bottom {
		font-family: 'Roboto', sans-serif;

		.text-left {
			text-align: left;
		}

		.text-right {
			text-align: right;
		}

		a {
			color: $font-second-darker;
		}

		a:hover {
			color: $font-second-color;
			text-decoration: none;
		}
	}

	.form-horizontal .form-group {
		@media screen and (max-width: 480px) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

// register
header {
	background: rgba(24,29,32,0.5);
	padding: 20px;
	text-align: center;
}

.register-wrap {
	font-family: 'Roboto', sans-serif;
	margin: 90px auto 10px;
}

.sponsor-wrap {
	color: #fff;
	font-size: 16px;
	padding: 10px 20px;

	h2 {
		font-size: 35px;
		font-weight: 300;
		margin: 0 0 30px;

		span {
			display: block;
			font-size: 20px;
			margin: 0 auto 5px;
		}
	}

	p {
		font-family: 'Raleway', sans-serif;
		font-size: 15px;
		line-height: 1.5;
		margin: 0 0 15px;
	}

	.offers {
		margin: 15px auto;

		.img-left {
			float: left;
			width: 13%;
		}

		.offer-content {
			float: right;
			width: 85%;
		}
	}
}

.register-box-body {
	@include border-radius(5px);
	background: #fff;
	color: $theme-color;
	padding: 30px 35px 35px;;

	h3 {
		text-align: center;
		font-weight: 300;
		padding: 0 0 20px;
	}

	input[type="text"], input[type="email"], input[type="password"] {
		background: none;
		border: 1px solid #D9DEE4;
		padding: 8px 30px 8px 5px;
		width: 100%;
	}

	input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
		@include box-shadow(0 0 5px rgba(193, 170, 111, 1));
	}

	a {
		color: $font-second-color;
	}

	a:hover {
		color: $font-second-darker;
	}

	.icheckbox_square-blue {
		background: url(/images/blue.png) no-repeat;
		background-position: 0 0;
	    border: medium none;
	    cursor: pointer;
	    display: inline-block;
	    height: 25px;
	    margin: 0;
	    padding: 0;
	    vertical-align: middle;
	    width: 22px;

	    &:hover {
			background-position: -24px 0;
	    }

	    &.checked {
	    	background-position: -48px 0;
	    }
	}

	.checkbox label {
		padding-left: 0;
	}

	.yellow-btn {
		@include border-radius(25px);
		font-size: 1.5625em;
		font-weight: 300;
		padding: 5px;
	}
}