body {
	background: #efefef;
    font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 80px 0 20px;
	text-align: center;
}

.loader {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999999;
	color: #000;
	font-size: 40px;
	background: rgba(239,239,239,1);

	i {
		position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		max-width: 35px;
		margin: 0 auto;
	}
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

// login container
.login-container {
	@include box-shadow(0 0 5px rgba(214, 214, 214, 1));
	background: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 50px auto 0;
	max-width: 520px;
	padding: 20px;
	position: relative;

	h2 {
		color: $theme-dark-blue;
		margin: 0 0 20px;
	}

	.logo {
		float: left;
		max-width: 140px;
	}

	.login-box {
		@include border-radius(5px);
		background: $theme-dark-blue;
		font-size: $font-size;
		margin: 15px auto 0;
		padding: 55px 10px 10px;
	}

	.field-container {
		margin: 0 auto 10px;
		max-width: 420px;
		position: relative;
		width: 100%;

		label {
			color: #90A4AC;
			display: block;
			font-size: 1em;
			font-weight: 400;
			text-align: left;
		}

		input {
			@include border-radius(5px);
			@include box-shadow(0 0 0);
			background: #fff;
			border: 0;
			color: $theme-color;
			font-size: 0.8125em;
			margin: 0 auto;
			padding: 10px 10px 10px 35px;
			position: relative;
			width: 100%;
		}

		input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
			@include box-shadow(0 0 5px rgba(255, 255, 255, 1));
		}

		.input-icon {
			color: #90A4AC;
			left: 10px;
			position: absolute;
			top: 40px;
		}

		p {
			color: #90A4AC;
			font-size: 0.8125em;
			font-style: italic;
			max-width: 165px;
			width: 100%;
		}

		p a {
			color: #90A4AC;
			font-style: normal;
		}

		p a:hover {
			color: $font-second-darker;
			text-decoration: none;
		}

		p .bold {
			color: #fff;
			font-weight: 700;
		}

		p i {
			padding-right: 5px;
		}

		.btn {
			width: 100%;
		}
	}

	.form-horizontal .form-group {
		@media screen and (max-width: 480px) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

// register
.register-wrap {
	@include box-shadow(0 0 5px rgba(214, 214, 214, 1));
	background: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 50px auto 0;
	padding: 20px;
	position: relative;
}

.sponsor-wrap {
	color: $theme-color;
	font-size: $font-size;
	padding: 10px 20px;
	text-align: left;

	h2 {
		font-size: 2.1875em;
		font-weight: 300;
		margin: 0 0 30px;

		span {
			display: block;
			font-size: 0.625em;
			margin: 0 auto 5px;
		}
	}

	p {
		font-size: 0.9375em;
		line-height: 1.5;
		margin: 0 0 15px;
	}

	.offers {
		margin: 15px auto;

		.img-left {
			float: left;
			width: 13%;
		}

		.offer-content {
			float: right;
			width: 85%;
		}
	}
}

.register-box-body {
	@include border-radius(5px);
	background: $theme-dark-blue;
	color: #90A4AC;
	padding: 30px 35px 35px;

	h3 {
		color: #fff;
		padding: 0 0 20px;
		text-align: center;
	}

	input[type="text"], input[type="email"], input[type="password"] {
		@include border-radius(5px);
		background: #fff;
		border: 0;
		color: $theme-color;
		padding: 8px 30px 8px 10px;
		width: 100%;
	}

	input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
		@include box-shadow(0 0 5px rgba(255, 255, 255, 1));
	}

	a {
		color: $font-second-color;
	}

	a:hover {
		color: $font-second-darker;
	}

	.icheckbox_square-blue {
		background: url(/images/blue.png) no-repeat;
		background-position: 0 0;
	    border: medium none;
	    cursor: pointer;
	    display: inline-block;
	    height: 25px;
	    margin: 0;
	    padding: 0;
	    vertical-align: middle;
	    width: 22px;

	    &:hover {
			background-position: -24px 0;
	    }

	    &.checked {
	    	background-position: -48px 0;
	    }
	}

	.checkbox label {
		display: block;
		padding-left: 0;
		text-align: left;
	}

	.yellow-btn {
		font-weight: 300;
		padding: 5px;
	}
}