#banner {
	background: #000;
	margin: 0 auto;
	position: relative;

	* {
		@include transitions(all 0.5s ease);
	}

	.container {
		position: relative;
	}

	.bnr {
		position: relative;
	}

	.bnr-container {
		right: 0;
		position: absolute;
		top: 25%;
		width: 100%;

		@media screen and (max-width: 1024px) {
			top: 30%;
		}

		@media screen and (max-width: 940px) {
			background: #000;
			position: static;
		}
	}

	.slick-arrow {
		display: none !important;
	}

	.bnr-slider {
		margin: 0;
	}

	.slick-dots {
		position: absolute;
		right: 10px;
		top: 45%;
		width: 20px;
		z-index: 9999;

		@media screen and (max-width: 940px) {
			bottom: 0;
			left: 0;
			margin: 0 auto;
			right: 0;
			top: auto;
			width: 100%;
		}
	}

	.slick-dots li {
		display: block;
		margin: 5px auto;

		@media screen and (max-width: 940px) {
			display: inline-block;
			margin: 0 3px;
			vertical-align: middle;
		}
	}

	.slick-dots li button {
		@include border-radius(50%);
		border: 1px solid #fff;
		background: none;
		height: 10px;
		width: 10px;

		&:before {
			display: none;
		}
	}

	.slick-dots li.slick-active button {
		background: #fff;
	}

	.bnr-big {
		opacity: 0.8;
		position: relative;
		width: 100%;
	}

	.bnr-con {
		float: right;
		max-width: 500px;
		position: relative;
		width: 100%;

		@media screen and (max-width: 940px) {
			float: none;
			max-width: 100%;
			padding: 20px 0 30px;
		}
	}

	.bnr-con img {
		margin: 0 auto;
		max-width: 456px;
		width: 100%;

		@media screen and (max-width: 800px) {
			max-width: 300px;
		}

		@media screen and (max-width: 460px) {
			max-width: 250px;
		}
	}

	.bnr-con h2 {
		color: #fff;
		font-size: 1.125em;
		line-height: 2.2;
		margin: 30px 0 40px;

		@media screen and (max-width: 800px) {
			line-height: 1.5;
			margin: 10px 0;
		}
	}

	.bnr-con a {
		@include button-gradient;
		@include border-radius(3px);
		border: 1px solid #fff;
		color: #574319;
		display: block;
		font-size: 0.875em;
		font-weight: bold;
		margin: 0 auto;
		max-width: 210px;
		padding: 10px;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
		width: 100%;

		&:hover {
			@include button-gradient-hover;
		}
	}
}