#contact-section {
	background: url('/images/parallax.jpg') no-repeat center top;
	background-size: 100% auto;
	font-size: $font-size;
	overflow: hidden;
	padding: 750px 0 20px;
	position: relative;

	* {
		@include transitions(all 0.5s ease);
	}

	@media screen and (max-width: 1550px) {
		padding: 570px 0 20px;
	}

	@media screen and (max-width: 1320px) {
		padding: 370px 0 20px;
	}

	@media screen and (max-width: 1024px) {
		padding: 300px 0 20px;
		text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
	}

	@media screen and (max-width: 935px) {
		text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
		background: url('/images/blue-bg.jpg') repeat-x center top;
		background-size: auto 100%;
		padding: 30px 0 20px;
	}

	h2 {
		background: url('/images/hov.png') no-repeat center top;
		color: #fff;
		font-size: 1em;
		letter-spacing: 2px;
		margin: 0 0 30px;
		padding: 30px 0 0;

		span {
			padding: 0 35px;
			position: relative;

			@media screen and (max-width: 600px) {
				padding: 0;
			}
		}

		span:before {
			background: #2881A6;
			content: " ";
			height: 1px;
			left: -85px;
			position: absolute;
			top: 50%;
			width: 85px;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}

		span:after {
			background: #2881A6;
			content: " ";
			height: 1px;
			position: absolute;
			right: -85px;
			top: 50%;
			width: 85px;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}
	}

	.cn-box {
		border-right: 2px solid #123F52;
		display: inline-block;
		padding: 2px 23px;
		vertical-align: middle;

		@media screen and (max-width: 1160px) {
			font-size: $font-small;
			padding: 2px 10px;
		}

		@media screen and (max-width: 935px) {
			border: 0;
			vertical-align: top;
			width: 23%;
		}

		@media screen and (max-width: 670px) {
			width: 48%;
		}

		@media screen and (max-width: 414px) {
			width: 100%;
		}

		&:hover img {
			@include transitions(all 0.2s ease);
			@include transform(rotate(40deg) scale(1.1));
		}

		&:hover a {
			color: #D4B26C;
		}
	}

	.cn-box:first-of-type {
		padding-left: 0;
	}

	.cn-box:last-of-type {
		border: 0;
		padding-right: 0;
	}

	.cn-box img {
		@include transitions(all 0.8s ease);
		display: inline-block;
		max-width: 120px;
		vertical-align: middle;
		width: 100%;

		@media screen and (max-width: 1024px) {
			max-width: 100px;
		}

		@media screen and (max-width: 935px) {
			display: block;
			margin: 0 auto;
			text-align: center;
		}

		@media screen and (max-width: 670px) {
			max-width: 170px;
		}
	}

	.cn-box h3 {
		color: #fff;
		display: inline-block;
		font-size: 1.25em;
		font-weight: bold;
		margin-left: 5px;
		text-align: left;
		vertical-align: middle;

		span {
			display: block;
		}

		@media screen and (max-width: 935px) {
			display: block;
			margin: 10px auto;
			text-align: center;
		}
	}
}