#content {
	background: url('/images/graph-bg.jpg') repeat-x left top;
	background-size: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 75px 0 80px;
	position: relative;

	@media screen and (max-width: 780px) {
		background: none;
	}

	@media screen and (max-width: 600px) {
		padding: 30px 0;
	}

	.theme-btn {
		@include border-radius(5px);
		background-color: #3C8DBC;
		border: 1px solid #2076A8;
		color: #fff;
		display: block;
		float: left;
		padding: 5px 10px;

		&:hover {
			background-color: #2076A8;
		}
	}
}

@-webkit-keyframes MOVE-BG {
	from {
		background-position: 0% 80px
	}
	to { 
		background-position: 187% 80px
	}
}

@-webkit-keyframes MOVE-BG2 {
	from {
		background-position: 0% 100px
	}
	to { 
		background-position: 187% 100px
	}
}

.graph1-animate {
	@include transitions(all 0.5s ease);
	-webkit-animation-name: MOVE-BG;
	-webkit-animation-duration: 80s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.graph2-animate {
	@include transitions(all 0.5s ease);
	-webkit-animation-name: MOVE-BG2;
	-webkit-animation-duration: 60s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

// #content:hover .graph1-animate, #content:hover .graph2-animate {
//     -webkit-animation-play-state: paused;
//     -moz-animation-play-state: paused;
//     -o-animation-play-state: paused;
//     animation-play-state: paused;
// }

#graph-one {
	@include transitions(all 0.5s ease);
	background: url('/images/graph2.png') repeat-x center bottom 320px;
	background-size: auto auto;
	left: 0;
	min-height: 750px;
	position: absolute;
	top: 0;
	width: 6600px;

	@media screen and (max-width: 780px) {
		display: none;
	}

	#graph-two {
		@include transitions(all 0.5s ease);
		background: url('/images/graph1.png') repeat-x center bottom -40px;
		background-size: auto auto;
		left: 0;
		min-height: 730px;
		position: absolute;
		bottom: 0;
		width: 6600px;
	}

	@media screen and (max-width: 780px) {
		display: none;
	}
}

.parallax-container {
	margin: 0 auto;
	max-width: 620px;
	min-height: 600px;
	overflow: hidden;
	padding: 0 0 5px;
	position: relative;
	width: 100%;

	@media screen and (max-width: 600px) {
		min-height: auto;
		overflow: visible;
	}

	.parallax {
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;

		@media screen and (max-width: 600px) {
			position: static;
		}
	}

	.box1 {
		@include border-radius-bottom(5px);
		@include box-shadow(0px 0px 3px 0px rgba(0,0,0,0.75));
		background: #fff;
		bottom: 5px;
		max-width: 535px;
		width: 100%;
		height: 200px;

		@media screen and (max-width: 600px) {
			display: none;
		}
	}

	.box2 {
		@include border-radius-bottom(5px);
		@include box-shadow(0px 0px 3px 0px rgba(0,0,0,0.75));
		background: #fff;
		bottom: 12px;
		max-width: 546px;
		width: 100%;
		height: 200px;

		@media screen and (max-width: 600px) {
			display: none;
		}
	}

	.box3 {
		@include border-radius-bottom(5px);
		@include box-shadow(0px 0px 3px 0px rgba(0,0,0,0.75));
		background: #fff;
		bottom: 19px;
		max-width: 556px;
		width: 100%;
		height: 200px;

		@media screen and (max-width: 600px) {
			display: none;
		}
	}

	.box4 {
		@include border-radius-bottom(5px);
		@include box-shadow(0px 0px 3px 0px rgba(0,0,0,0.75));
		background: #fff;
		bottom: 26px;
		max-width: 566px;
		width: 100%;
		height: 200px;

		@media screen and (max-width: 600px) {
			display: none;
		}
	}

	.box5 {
		@include border-radius-bottom(5px);
		@include box-shadow(0px 0px 3px 0px rgba(0,0,0,0.75));
		background: #fff;
		bottom: 33px;
		max-width: 578px;
		width: 100%;
		height: 200px;

		@media screen and (max-width: 600px) {
			display: none;
		}
	}

	.box6 {
		@include border-radius-bottom(5px);
		@include box-shadow(0px 0px 3px 0px rgba(0,0,0,0.75));
		background: #fff;
		bottom: 40px;
		max-width: 589px;
		width: 100%;
		height: 200px;

		@media screen and (max-width: 600px) {
			display: none;
		}
	}
}

.trading-box {
	max-width: 600px;
	top: 0;
	width: 100%;
	z-index: 999;

	.trade-head {
		background: url('/images/graph-head.png') no-repeat center top;
		background-size: 100% 100%;
		border-bottom: 5px solid #922029;
	}

	.crypto-key {
		float: left;
		padding: 10px 15px 5px;
		width: 15%;

		@media screen and (max-width: 600px) {
			display: none;
		}
	}

	.head-mid {
		border-left: 1px solid #174A5F;
		border-right: 1px solid #174A5F;
		float: left;
		padding: 20px 15px;
		position: relative;
		width: 65%;

		@media screen and (max-width: 600px) {
			border: 0;
			float: none;
			padding: 10px;
			width: 100%;
		}

		&:before {
			background: #34A0C9;
			content: " ";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 1px;
			z-index: 99;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}

		&:after {
			background: #34A0C9;
			content: " ";
			height: 100%;
			position: absolute;
			right: -2px;
			top: 0;
			width: 1px;
			z-index: 99;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}
	}

	.head-mid img {
		display: inline-block;
		max-width: 130px;
		vertical-align: middle;
		width: 47%;

		@media screen and (max-width: 600px) {
			display: block;
			margin: 0 auto;
			width: 100%;
		}
	}

	.head-mid h2 {
		color: #fff;
		display: inline-block;
		font-size: 1.5em;
		font-weight: bold;
		margin: 0 0 0 2%;
		vertical-align: middle;
		width: 48%;

		@media screen and (max-width: 600px) {
			display: block;
			margin: 0 auto;
			width: 100%;
		}
	}

	.graph-top-info {
		float: left;
		width: 20%;

		@media screen and (max-width: 600px) {
			border-top: 1px solid #174A5F;
			float: none;
			width: 100%;;
		}
	}

	.graph-top-info h3 {
		border-bottom: 1px solid #174A5F;
		color: #fff;
		font-size: 1em;
		font-weight: bold;
		margin: 0 0 10px;
		padding: 10px;
		position: relative;
		width: 100%;

		&:after {
			background: #34A0C9;
			bottom: -2px;
			content: " ";
			height: 1px;
			left: 0;
			position: absolute;
			right: 0;
			width: 100%;
			z-index: 99;
		}
	}

	.graph-top-info h4 {
		@include text-gradient(#ffffff, #D4B26C)
		font-size: 1em;
		font-weight: bold;

		@media screen and (max-width: 414px) {
			padding: 0 0 10px;
		}
	}

	.trade-info {
		@include border-radius-bottom(5px);
		@include box-shadow(0px 0px 3px 0px rgba(0,0,0,0.75));
		background: #fff;
		font-family: 'Roboto', sans-serif;
		padding: 5px 10px 20px;
		width: 100%;
	}

	.trade-info ul {
		margin: 0 auto 20px;
		padding: 0;
	}

	.trade-info ul li {
		border-top: 1px solid #D9DEE4;
		padding: 8px 1px;

		&:last-child {
			border-bottom: 1px solid #D9DEE4;
		}

		@media screen and (max-width: 414px) {
			font-size: 0.8125em;
		}
	}

	.trade-info .package-info {
		font-weight: bold;
	}

	.trade-info .package-status .package-info {
		@include border-radius(10px);
		color: #fff;
		font-size: 0.875em;
		padding: 5px 10px;
	}

	.fund-active {
		background: #00C0EF;
	}

	.fund-close {
		background: #98202A;
	}

	.fund-available {
		background: #548235;
	}

	.line-graph {
		height: 280px;
		margin-bottom: 15px;
		min-width: 200px;
		padding-bottom: 10px;
		border-bottom: 1px solid #D9DEE4;
	}
}

.content-bottom {
	margin-top: 50px;

	@media screen and (max-width: 780px) {
		padding: 0 10px;
	}
	
	h1 {
		color: #216B8A;
		font-size: 2.25em;
		font-weight: normal;
		margin: 0 0 30px;

		@media screen and (max-width: 1024px) {
			margin: 0 0 10px;
		}

		@media screen and (max-width: 960px) {
			font-size: 1.5em;
		}
	}

	ul {
		color: #455A64;
		display: inline-block;
		font-size: 1.125em;
		line-height: 1.7;
		list-style-image: url('/images/ul-arw.png');
		max-width: 580px;
		padding: 0;
		text-align: left;
		vertical-align: top;
		width: 100%;

		@media screen and (max-width: 1200px) {
			margin: 0 auto;
			max-width: 900px;
		}

		@media screen and (max-width: 1024px) {
			margin: 0 auto;
			max-width: 840px;
		}

		@media screen and (max-width: 800px) {
			max-width: 740px;
		}

		@media screen and (max-width: 600px) {
			font-size: 1em;
		}

		@media screen and (max-width: 414px) {
			padding: 0 0 0 15px;
		}
	}

	ul li {
		padding: 0 0 30px 25px;

		@media screen and (max-width: 1024px) {
			padding: 0 0 5px 5px;
		}

		@media screen and (max-width: 414px) {
			padding: 0 0 5px;
		}
	}

	.cb-button {
		@include button-gradient;
		@include border-radius(5px);
		border: 1px solid #fff;
		color: #574319;
		display: block;
		font-size: 0.875em;
		font-weight: bold;
		margin: 20px auto 0;
		max-width: 210px;
		padding: 10px;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
		width: 100%;

		&:hover {
			@include button-gradient-hover;
		}
	}
}