// footer top
#footer-top {
	background: url('/images/top-ftr.jpg') repeat-x center top;
	background-size: auto 100%;
	border: 2px solid #fff;
	padding: 25px 0;

	.tftr-box {
		border-left: 1px solid #2C87A9;
		float: left;
		padding: 0 25px;
		text-align: left;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
		width: 24%;

		@media screen and (max-width: 800px) {
			width: 32%;
		}

		@media screen and (max-width: 533px) {
			border-left: 0;
			border-bottom: 1px solid #2C87A9;
			float: none;
			margin: 0 auto 10px;
			text-align: center;
			width: 100%;
		}
	}

	.tftr-box:first-of-type {
		border: 0;
		padding: 20px 30px 20px 10px;
		width: 28%;

		@media screen and (max-width: 800px) {
			float: none;
			margin: 0 auto 10px;
			text-align: center;
			width: 100%;
		}
	}

	.tftr-box:nth-of-type(2) {
		@media screen and (max-width: 800px) {
			border-left: 0;
		}
	}

	.tftr-box:last-of-type {
		@media screen and (max-width: 533px) {
			border-bottom: 0;
		}
	}

	.tftr-box:first-of-type img {
		max-width: 337px;
		width: 100%;
	}

	.tftr-box h2 {
		color: #144D66;
		font-size: 1.5em;
		font-style: italic;
		margin: 15px 0 0;
	}

	.tftr-box h3 {
		color: #7E161E;
		font-size: 1em;
		font-weight: bold;
		margin: 0 0 10px;
	}

	.tftr-box ul {
		color: #546E7A;
		font-size: 0.8125em;
		line-height: 1.9;
		list-style: none;
	}

	.tftr-box ul li i {
		color: #236F8F;
		font-size: 1.5em;
		padding-right: 18px;
	}

	.tftr-box:last-of-type ul li {
		padding: 9px 0;
	}

	.tftr-box ul li:nth-of-type(2) i {
		padding-right: 23px;
	}

	.tftr-box ul li:last-of-type i {
		padding-right: 10px;
	}

	.tftr-box ul li a:hover {
		color: #7E161E;
	}
}

// footer
footer {
	background: url('/images/footer-bg.jpg') repeat-x center top;
	background-size: auto 100%;
	color: #fff;
	font-size: 0.8125em;
	padding: 15px 0 20px;

	.footer-left {
		float: left;
		text-align: left;

		@media screen and (max-width: 800px) {
			float: none;
			text-align: center;
		}
	}

	.footer-right {
		float: right;
		padding: 15px 0 10px;

		@media screen and (max-width: 800px) {
			float: none;
			padding: 0;
			text-align: center;
		}
	}
}