// loading css
.loader {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	color: #000;
	font-size: 40px;
	background: rgba(255,255,255,1);

	i {
		position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		max-width: 35px;
		margin: 0 auto;
	}
}

header {
	margin: 0;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;

	* {
		@include transitions(all 0.5s ease);
	}

	@media screen and (max-width: 800px) {
		background: rgba(0,0,0,0.8);
		padding: 5px 0;
	}

	.logo {
		float: left;
		padding: 40px 0 0;

		@media screen and (max-width: 1200px) {
			max-width: 230px;
			width: 100%;
		}

		@media screen and (max-width: 1024px) {
			padding: 20px 0 0;
		}

		@media screen and (max-width: 800px) {
			float: none;
			max-width: 200px;
			padding: 0;
		}

		@media screen and (max-width: 414px) {
			max-width: 120px;
		}
	}

	.top-right {
		float: right;
		padding: 0 0 10px;
		text-align: right;

		@media screen and (max-width: 800px) {
			display: none;
		}
	}

	h2 {
		color: #D4B26C;
		font-size: 1.5em;
		font-style: italic;
		margin: 25px 0;

		@media screen and (max-width: 1200px) {
			margin: 15px 0;
		}
	}

	#responsive-menu {
	    display: none;

	    @media only screen and (max-width: 800px){
		    display: block;
		}

		#navigation {
			display: none;
		}
	}

	#left-menu-toggle-btn {
		border-right: 1px solid #fff;
		display: block;
		height: 100%;
		left: 0;
		padding: 15px 10px;
		position: absolute;
		top: 0;
		width: 60px;

		@media screen and (max-width: 414px) {
			padding: 10px;
		}

		.line {
			@include border-radius(10px);
			background: #fff;
			display: block;
			margin: 10px 0;
			padding: 2px;

			@media screen and (max-width: 414px) {
				margin: 7px 0;
			}
		}

		&:hover .line {
			background: #BF2633;
		}
	}
}

.top-nav {
	color: #EDEDED;
	list-style: none;

	@media screen and (max-width: 800px) {
		display: none;
	}

	li {
		border-right: 1px dotted #EDEDED;
		display: inline-block;
		font-size: 0.8125em;

		a {
			display: block;
			padding: 5px 13px;

			@media screen and (max-width: 1024px) {
				padding: 5px;
			}
		}

		a:hover {
			// @include hover-gradient;
			background: #9B222C;
			color: #fff;
		}

		&.active a {
			// @include hover-gradient;
			background: #9B222C;
			color: #fff;
		}

		i {
			padding: 0 5px;
		}

		&:nth-child(2) i, &:nth-child(3) i {
			padding-right: 0;
		}

		&:last-child i {
			padding-left: 0;
		}
	}
}

.service-nav {
	color: #fff;
	list-style: none;

	@media screen and (max-width: 800px) {
		display: none;
	}

	li {
		display: inline-block;
		font-size: 1.125em;
		padding: 0 10px;

		@media screen and (max-width: 1100px) {
			font-size: 1em;
		}

		@media screen and (max-width: 1024px) {
			font-size: 0.9375em;
			padding: 0 5px;
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		a {
			display: block;
			padding: 25px 0 0;
		}

		a:hover {
			background: url('/images/hov.png') no-repeat center top;
		}
	}
}

// inner page
.inner-page header {
	background: rgba(0,0,0,0.8);
}

// header on scroll css
header.scroll-active {
	background: rgba(0,0,0,0.8);
	padding: 10px 0 5px;

	.logo {
		width: 200px;
		padding: 5px 0 0;

		@media screen and (max-width: 800px) {
			padding: 0;
		}
	}

	h2 {
		display: none;
	}

	.service-nav li {
		font-size: 1em;

		@media screen and (max-width: 1024px) {
			font-size: 0.8125em;
		}

		a {
			padding: 20px 0 0;

			@media screen and (max-width: 1100px) {
				padding: 0;
			}
		}
	}

	.service-nav li a:hover {
		@media screen and (max-width: 1100px) {
			background: none;
			color: #98212A;
			padding: 0;
		}
	}
}