.about-tpo-page #inner-banner {
	background: url('/images/bnr5.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}

.about-crypto-page #inner-banner {
	background: url('/images/bnr4.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}

.membership-packages-page #inner-banner {
	background: url('/images/bnr2.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}

.faq-page #inner-banner {
	background: url('/images/bnr3.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}

.ref-commissions-page #inner-banner {
	background: url('/images/bnr2.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}

.contact-page #inner-banner {
	background: url('/images/bnr2.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}

// membership inner page
.membership-packages-page {
	#packages-section {
		background: none;
		padding-bottom: 30px;

		@media screen and (max-width: 1340px) {
			padding-top: 0;
		}
	}

	.membership-info {
		padding-bottom: 20px;
	}

	h2.section-heading {
		display: none;
	}

	#packages-section ul {
		margin: 0;
		text-align: center;
	}

	#packages-section .column1 ul {
		text-align: left;
	}

	#inner-content #packages-section h2 {
		font-size: 1.125em;
		margin: 0;
		text-align: center;
	}

	#inner-content #packages-section .column3 h2 {
		font-size: 2.25em;
		margin-top: -45px;

		@media screen and (max-width: 1340px) {
			margin-top: 0;
		}
	}

	.responsive-table tr:nth-child(odd) {
		background: #f9f9f9;
	}

	.responsive-table td i {
		font-size: 1.5em;
	}

	.responsive-table td:nth-child(2) i {
		color: #CD7F32;
	}

	.responsive-table td:nth-child(3) i {
		color: #A0A0A0;
	}

	.responsive-table td:nth-child(4) i {
		color: #D4AF37;
	}

	.responsive-table td:nth-child(5) i {
		color: #333333;
	}

	.responsive-table .detail-title {
		background: url('/images/bg-free.jpg') no-repeat center top;
		background-size: cover;
		padding: 15px 5px;
	}

	.responsive-table .bronze-member {
		background: url('/images/bg-free2.jpg') no-repeat center top;
		background-size: cover;
		color: #854A1B;
		text-shadow: 0px 0px 1px white;

		span {
			display: block;
			font-size: 0.75em;
			font-weight: normal;
		}
	}

	.responsive-table .silver-member {
		background: url('/images/bg-silver.jpg') no-repeat center top;
		background-size: cover;
		color: #565656;
		text-shadow: 0px 0px 1px white;

		span {
			display: block;
			font-size: 0.75em;
			font-weight: normal;
		}
	}

	.responsive-table .gold-member {
		background: url('/images/bg-gold.jpg') no-repeat center top;
		background-size: cover;
		color: #87701D;
		text-shadow: 0px 0px 1px white;

		span {
			display: block;
			font-size: 0.75em;
			font-weight: normal;
		}
	}

	.responsive-table .platinum-member {
		background: url('/images/bg-platinum.jpg') no-repeat center top;
		background-size: cover;
		color: #fff;
		text-shadow: 0px 1px 1px black;

		span {
			display: block;
			font-size: 0.75em;
			font-weight: normal;
		}
	}

	.responsive-table td:first-child {
		text-align: left;
	}
}

#inner-banner {
	padding: 250px 0 40px;
	text-align: left;

	* {
		@include transitions(all 0.5s ease);
	}

	@media screen and (max-width: 600px) {
		padding: 150px 0 40px;
	}

	@media screen and (max-width: 414px) {
		padding: 100px 0 40px;
	}

	h1 {
		color: #fff;
		font-size: 3em;
		font-weight: bold;
		margin: 0;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

		@media screen and (max-width: 600px) {
			font-size: 2em;
		}
	}
}

#inner-content {
	font-family: 'Roboto', sans-serif;
	padding: 50px 0;

	h2 {
		font-size: 1.125em;
		font-weight: 700;
		margin: 0 0 20px;
		text-align: left;
	}

	h2.fancy-h2 {
		color: #A5242D;
		font-size: 1.5625em;
		font-weight: 300;
		margin: 0;

		@media screen and (max-width: 760px) {
			font-size: 1.25em;
		}
	}

	p {
		font-size: 0.875em;
		line-height: 1.6;
		text-align: left;
	}

	ul {
		font-size: 0.875em;
		margin: 15px 0 15px 25px;
		text-align: left;
	}

	ul li {
		line-height: 1.6;
		padding-bottom: 5px;
	}

	.float-container {
		margin: 20px auto;
	}

	.inr-left {
		float: left;
		width: 49%;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.inr-right {
		float: right;
		width: 49%;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.video {
		border: 0;
		height: 320px;
		max-width: 560px;
		width: 100%;
	}

	.vid-caption {
		padding-top: 10%;
	}

	.vid-caption h2 {
		text-align: center;
	}

	.vid-caption p {
		text-align: center;
	}

	#cryptomining:before, #cryptotrading:before, #cryptoshuffleticket:before {
		content: " ";
		display: block;
		height: 110px;
		margin-top: -110px;
		visibility: hidden;
	}

	// membership inner page
	.box-infos {
		margin: 20px 0;
	}

	.heading-h3 {
		background: rgba(0, 0, 0, 0.8);
		color: #fff;
		font-size: 1.25em;
		margin: 0;
		padding: 15px 5px;
	}

	.list-box {
		background: #eee;
	}

	.list-box ul {
		list-style: none;
		margin: 0;
		text-align: center;
	}

	.list-box ul li {
		border-bottom: 1px dotted #aaa;
		padding: 10px;
	}

	.table-overflow {
		@media screen and (max-width: 800px) {
			overflow-x: scroll;
		}
	}

	.responsive-table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
	}

	.responsive-table th {
		border: 1px solid #404040;
	}

	.responsive-table td {
		border: 1px solid #404040;
		font-size: 0.875em;
		padding: 8px;
	}
}

// faq page
.accordion {
    width: 100%;

    .accordion-head {
	    background: rgba(0, 0, 0, 0.9);
	    color: #fff;
	    cursor: pointer;
	    margin: 0 auto 2px;
	    padding: 10px;
	    position: relative;
	    font-size: 0.9375em;
	    overflow: hidden;

	    * {
		    cursor: pointer;
		}
	}

	.accordion-head h4 {
	    float: left;
	    text-align: left;

	    @media screen and (max-width: 660px) {
			width: 88%;
		}
	}

	.accordion-head:hover {
	    filter: alpha(opacity=80);
	    opacity: 0.80;
	}

	.accordion-body {
		background: #EDEDED;
	    border-bottom: 1px solid #fff;
	    display: none;
	    height: auto;
	    padding: 5px 10px;
	}

	.arrow {
	    border: 10px solid transparent;
	    border-top-color: #F3F3F3;
	    float: right;
	    height: 0px;
	    margin-top: 5px;
	    width: 0;
	}

	.accordion-head.open .arrow {
	    border-bottom-color: #F3F3F3;
	    border-top-color: transparent;
	    margin-top: 0;
	}
}

// referral credits
.ref-commissions-page {

	.normal-table, .silver-table, .gold-table, .platinum-table {
		margin: 20px auto;
	}

	.silver-table th {
		background: url('/images/bg-silver.jpg') no-repeat center top;
		background-size: cover;
		color: #565656;
		text-shadow: 0px 0px 1px white;
	}

	.gold-table th {
		background: url('/images/bg-gold.jpg') no-repeat center top;
		background-size: cover;
		color: #87701D;
		text-shadow: 0px 0px 1px white;
	}

	.platinum-table th {
		background: url('/images/bg-platinum.jpg') no-repeat center top;
		background-size: cover;
		color: #fff;
		text-shadow: 0px 1px 1px black;
	}

	.responsive-table td:first-child {
		text-align: left;
	}

	.normal-table th {
		background: #000;
		color: #fff;
		text-shadow: 0px 1px 1px black;
	}

	.normal-table .responsive-table td:first-child {
		text-align: center;
	}
}

// contact form
.contact-form {
	input[type="text"], input[type="email"], textarea {
		@include border-radius(3px);
		border: 1px solid #aaa;
		font-family: 'Roboto', sans-serif;
		font-size: 0.875em;
		margin: 5px auto;
		padding: 8px;
		width: 100%;
	}

	textarea {
		height: 80px;
		resize: none;
	}

	input[type="submit"] {
		@include button-gradient;
		@include border-radius(3px);
		border: 1px solid #fff;
		color: #574319;
		display: block;
		font-size: 0.875em;
		font-weight: bold;
		margin: 10px auto 0;
		max-width: 150px;
		padding: 10px;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
		width: 100%;

		&:hover {
			@include button-gradient-hover;
		}
	}
}