#membership-section {
	background: url('/images/membership-bg.png') repeat-x center top;
	background-size: auto 100%;
	margin: 0 auto;
	padding: 30px 0 150px;
	position: relative;

	* {
		@include transitions(all 0.5s ease);
	}

	@media screen and (max-width: 600px) {
		padding: 30px 0 60px;
	}

	.container {
		max-width: 1400px;
	}

	h2 {
		background: url('/images/hov.png') no-repeat center top;
		color: #455A64;
		font-size: 1em;
		letter-spacing: 2px;
		margin: 0 0 240px;
		padding: 30px 0 0;

		@media screen and (max-width: 1340px) {
			margin: 0 0 130px;
		}

		span {
			padding: 0 35px;
			position: relative;

			@media screen and (max-width: 600px) {
				padding: 0;
			}
		}

		span:before {
			background: #BBBBBB;
			content: " ";
			height: 1px;
			left: -85px;
			position: absolute;
			top: 50%;
			width: 85px;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}

		span:after {
			background: #BBBBBB;
			content: " ";
			height: 1px;
			position: absolute;
			right: -85px;
			top: 50%;
			width: 85px;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}
	}

	.package1 {
		background: url('/images/packagebg1.png') no-repeat center top;
		background-size: 100% 100%;

		h3 {
			@include text-gradient(#08B3DE, #02323E);
		}
	}

	.package2 {
		background: url('/images/packagebg2.png') no-repeat center top;
		background-size: 100% 100%;

		h3 {
			@include text-gradient(#F8A140, #592204);
		}
	}

	.package3 {
		background: url('/images/packagebg3.png') no-repeat center top;
		background-size: 100% 100%;

		h3 {
			@include text-gradient(#74FDA5, #104929);
		}
	}

	.package4 {
		background: url('/images/packagebg4.png') no-repeat center top;
		background-size: 100% 100%;

		h3 {
			@include text-gradient(#FAE54E, #3C3206);
		}
	}

	.membership-box {
		display: inline-block;
		margin: 0 0.5%;
		padding: 0 5px 35px;
		vertical-align: top;
		width: 24%;

		&:hover {
			transform: scale(1.2);
		}

		@media screen and (max-width: 1340px) {
			width: 46%;
			margin: 0 1%;
		}

		@media screen and (max-width: 533px) {
			width: 100%;
			margin: 0 auto 130px;
		}
	}

	.membership-box:first-of-type {
		margin-left: 0;

		@media screen and (max-width: 1340px) {
			margin: 0 1% 130px;
		}

		@media screen and (max-width: 533px) {
			margin: 0 auto 130px;
		}
	}

	.membership-box:nth-of-type(2) {
		@media screen and (max-width: 1340px) {
			margin: 0 1% 130px;
		}

		@media screen and (max-width: 533px) {
			margin: 0 auto 130px;
		}
	}

	.membership-box:last-of-type {
		margin-right: 0;

		@media screen and (max-width: 1340px) {
			margin: 0 1%;
		}

		@media screen and (max-width: 533px) {
			margin: 0 auto;
		}
	}

	.membership-box img {
		margin-top: -110px;
		max-width: 268px;
		position: relative;
		width: 100%;
	}

	.membership-box h3 {
		font-size: 3.125em;
		font-weight: bold;

		@media screen and (max-width: 1340px) {
			font-size: 2.5em;
		}

		span {
			@include text-gradient(#A5242E, #3D0E11);
			display: block;
			font-size: 0.48em;
			font-weight: normal;
			letter-spacing: 2px;
		}
	}

	.membership-box ul {
		color: #263238;
		font-size: 0.875em;
		line-height: 1.6;
		list-style: none;
		margin: 0 auto 30px;
	}

	.membership-box ul li {
		padding: 3px 0;
	}

	.membership-box a {
		@include button-gradient;
		@include border-radius(3px);
		border: 1px solid #fff;
		color: #574319;
		display: block;
		font-size: 0.875em;
		font-weight: bold;
		margin: 0 auto;
		max-width: 150px;
		padding: 10px;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
		width: 100%;

		&:hover {
			@include button-gradient-hover;
		}
	}
}