#news-section {
	background: url('/images/shadow-bg.png') no-repeat center top;
	background-size: 100% auto;
	padding: 55px 0 30px;
	position: relative;

	* {
		@include transitions(all 0.5s ease);
	}

	h2 {
		background: url('/images/hov.png') no-repeat center top;
		color: #455A64;
		font-size: 1em;
		letter-spacing: 2px;
		margin: 0 0 60px;
		padding: 30px 0 0;

		@media screen and (max-width: 1340px) {
			margin: 0 0 30px;
		}

		span {
			padding: 0 35px;
			position: relative;

			@media screen and (max-width: 600px) {
				padding: 0;
			}
		}

		span:before {
			background: #BBBBBB;
			content: " ";
			height: 1px;
			left: -85px;
			position: absolute;
			top: 50%;
			width: 85px;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}

		span:after {
			background: #BBBBBB;
			content: " ";
			height: 1px;
			position: absolute;
			right: -85px;
			top: 50%;
			width: 85px;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}
	}
}

.news-left {
	float: left;
	max-width: 880px;
	position: relative;
	width: 100%;

	.desktop-news-bg {
		min-height: 270px;
		position: relative;

		@media screen and (max-width: 1080px) {
			min-height: 350px;
		}

		@media screen and (max-width: 1050px) {
			min-height: 250px;
		}

		@media screen and (max-width: 568px) {
			background: none !important;
		}
	}

	@media screen and (max-width: 1270px) {
		max-width: 74%;
	}

	@media screen and (max-width: 990px) {
		margin: 0 auto 20px;
		max-width: 100%;
	}

	.news-box {
		border-bottom: 1px dotted #BBBBBB;
		margin: 0 0 15px;
		padding: 0 0 15px;
	}

	.news-box-left {
		float: left;
		max-width: 825px;
		width: 100%;

		@media screen and (max-width: 1270px) {
			max-width: 90%;
		}

		@media screen and (max-width: 568px) {
			border-bottom: 1px dotted #BBBBBB;
			margin: 0 auto 10px;
			max-width: 100%;
		}
	}

	.news-box-left .detail-thumbs {
		float: left;
		max-width: 219px;
		width: 100%;

		@media screen and (max-width: 1270px) {
			max-width: 25%;
		}

		@media screen and (max-width: 568px) {
			float: none;
			max-width: 219px;
		}
	}

	.news-box-left .nbox-info {
		border-right: 1px dotted #BBBBBB;
		float: right;
		max-width: 577px;
		padding: 0 25px 30px 0;
		text-align: left;
		width: 100%;

		@media screen and (max-width: 1270px) {
			max-width: 73%;
		}

		@media screen and (max-width: 568px) {
			border: 0;
			margin-top: 10px;
			max-width: 100%;
			padding: 0 0 10px;
			text-align: center;
		}
	}

	.news-box-left .nbox-info h3 {
		color: #98212A;
		font-size: 0.9125em;
		margin: 0 0 15px;
	}

	.news-box-left .nbox-info h4 {
		color: #2881A6;
		font-size: 1.5em;
		font-weight: bold;
		margin: 0 0 15px;

		a:hover {
			text-decoration: underline;
		}

		@media screen and (max-width: 533px) {
			font-size: 1.25em;
		}
	}

	.news-box-left .nbox-info p {
		color: #455A64;
		font-size: 0.8125em;
		margin: 0;
	}

	.news-box-right {
		float: right;
		max-width: 42px;
		text-align: center;
		width: 100%;

		@media screen and (max-width: 1270px) {
			max-width: 8%;
		}

		@media screen and (max-width: 568px) {
			max-width: 100%;
		}
	}

	.news-box-right h3 {
		color: #D4B26C;
		font-size: 0.6875em;
		margin: 5px 0 20px;

		@media screen and (max-width: 568px) {
			margin: 0 auto 10px;
		}
	}

	.news-box-right ul {
		color: #B0BEC5;
		font-size: 1em;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.news-box-right ul li {
		padding: 0 0 10px;

		&:last-child {
			padding: 0;
		}

		a:hover {
			color: #98212A;
		}

		@media screen and (max-width: 568px) {
			display: inline-block;
			padding: 0 4px;
			vertical-align: middle;
		}
	}
}

.news-main {
	border-bottom: 1px dotted #BBBBBB;
	margin: 0 0 15px;
	padding-bottom: 25px;
	width: 100%;

	.news-focus {
		position: relative;
	}

	.news-main-thumbs {
		margin: 10px auto 0;
		position: relative;
	}

	.news-focus img {
		display: none;
		width: 100%;

		@media screen and (max-width: 568px) {
			display: block;
		}
	}

	.news-focus .focus-right {
		background: url('/images/news-con.png') no-repeat center top;
		background-size: 100% 100%;
		height: 100%;
		padding: 35px 20px 45px 25px;
		position: absolute;
		right: 0;
		top: 0;
		width: 346px;

		@media screen and (max-width: 1085px) {
			padding: 10px;
		}

		@media screen and (max-width: 568px) {
			height: auto;
			position: static;
			width: 100%;
		}
	}

	.news-focus .focus-right h3 {
		color: #fff;
		font-size: 1.25em;
		margin: 0;
		text-align: left;

		@media screen and (max-width: 1085px) {
			font-size: 1.125em;
		}
	}

	.news-focus .focus-right h3 a {
		&:hover {
			text-decoration: underline;
		}
	}


	.news-focus .focus-right h4 {
		color: #fff;
		font-size: 1.875em;
		margin: 12px 0 0;
		text-align: left;

		@media screen and (max-width: 1085px) {
			font-size: 1.625em;
		}

		@media screen and (max-width: 533px) {
			font-size: 1.25em;
		}
	}

	.news-main-thumbs .news-thumbs {
		display: inline-block;
		margin: 0 3px;
		max-width: 168px;
		vertical-align: top;
		width: 100%;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}

		.subnews-img {
			min-height: 100px;
			width: 100%;
		}

		img {
			max-width: 168px;
			width: 100%;
			display: none;
		}

		@media screen and (max-width: 1270px) {
			max-width: 19%;
		}

		@media screen and (max-width: 1085px) {
			margin: 0 0.2%;
		}

		@media screen and (max-width: 568px) {
			margin: 0 0.2px 10px;
			max-width: 32%;
		}

		@media screen and (max-width: 414px) {
			max-width: 45%;
		}

		@media screen and (max-width: 360px) {
			max-width: 100%;
		}
	}

	.news-main-thumbs .news-thumbs h3 {
		color: #277DA1;
		font-size: 0.8125em;
		margin: 7px 0;
		text-align: left;

		a:hover {
			text-decoration: underline;
		}

		@media screen and (max-width: 533px) {
			text-align: center;
		}
	}

	.news-main-thumbs .news-thumbs p {
		color: #546E7A;
		font-size: 0.75em;
		margin: 0;
		text-align: left;

		@media screen and (max-width: 533px) {
			text-align: center;
		}
	}
}

.news-right {
	float: right;
	max-width: 300px;
	position: relative;
	width: 100%;

	@media screen and (max-width: 1270px) {
		max-width: 24%;
	}

	@media screen and (max-width: 990px) {
		max-width: 100%;
	}

	h3 {
		color: #455A64;
		font-size: 1em;
		letter-spacing: 2px;
		margin: 0 0 10px;
		text-align: left;

		@media screen and (max-width: 568px) {
			text-align: center;
		}
	}

	h4 {
		border-bottom: 1px solid #BBBBBB;
		color: #143E50;
		font-size: 1.5em;
		margin: 10px 0 15px;
		padding-bottom: 10px;
		text-align: left;

		@media screen and (max-width: 568px) {
			text-align: center;
		}
	}

	.news-header {
		background: url('/images/news-bg.jpg') no-repeat center top;
		background-size: cover;
		padding: 15px 25px 25px;

		@media screen and (max-width: 1270px) {
			padding: 15px 10px 20px;
		}
	}

	.news-header img {
		display: inline-block;
		padding-right: 6px;
		vertical-align: top;

		@media screen and (max-width: 1270px) {
			max-width: 80px;
			width: 30%;
		}

		@media screen and (max-width: 320px) {
			display: block;
			margin: 0 auto;
			max-width: 80px;
			text-align: center;
			width: 100%;
		}
	}

	.news-header .news-info {
		display: inline-block;
		max-width: 150px;
		padding-left: 6px;
		vertical-align: top;
		width: 100%;

		@media screen and (max-width: 1270px) {
			max-width: 60%;
		}

		@media screen and (max-width: 320px) {
			display: block;
			margin: 10px auto 0;
			max-width: 100%;
		}
	}

	.news-header .news-info p {
		color: #fff;
		font-size: 0.8125em;
		margin: 0 0 15px;
		text-align: left;

		@media screen and (max-width: 320px) {
			text-align: center;
		}
	}

	.news-header .news-info a {
		@include button-gradient;
		@include border-radius(3px);
		color: #57431A;
		display: block;
		font-size: 0.875em;
		font-weight: bold;
		margin: 0 auto;
		padding: 10px;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
		width: 100%;

		&:hover {
			@include button-gradient-hover;
		}
	}

	.news-detail {
		border-bottom: 1px dotted #BBBBBB;
		margin: 0 0 15px;
		padding: 0 0 20px;
	}

	.mininews-img {
		float: right;
		min-height: 80px;
		width: 25%;
		
		@media screen and (max-width: 533px) {
			float: none;
			width: 100%;
		}
	}

	.news-detail .detail-thumbs {
		display: none;
		float: right;

		@media screen and (max-width: 1270px) {
			max-width: 80px;
			width: 25%;
		}

		@media screen and (max-width: 533px) {
			float: none;
			width: 100%;
		}
	}

	.news-detail .detail-con {
		float: left;
		max-width: 203px;
		text-align: left;
		width: 100%;

		@media screen and (max-width: 1270px) {
			max-width: 73%;
		}

		@media screen and (max-width: 533px) {
			max-width: 100%;
			text-align: center;
		}
	}

	.news-detail .detail-con h5 {
		color: #277DA1;
		font-size: 0.8125em;
		margin: 5px 0 10px;

		a:hover {
			text-decoration: underline;
		}
	}

	.news-detail .detail-con p {
		color: #455A64;
		font-size: 0.9375em;
		margin: 0;
	}
}

.exchage-rates {
	margin: 0 auto;
	max-width: 800px;
	position: relative;
	overflow-x: hidden;
	width: 100%;
}