#partners-section {
	background: url('/images/shadow-bg.png') no-repeat center top;
	background-size: 100% auto;
	padding: 50px 0 60px;
	position: relative;
	overflow-x: hidden;

	* {
		@include transitions(all 0.5s ease);
	}

	h2 {
		background: url('/images/hov.png') no-repeat center top;
		color: #455A64;
		font-size: 1em;
		letter-spacing: 2px;
		margin: 0 0 70px;
		padding: 30px 0 0;

		@media screen and (max-width: 1340px) {
			margin: 0 0 30px;
		}

		span {
			padding: 0 35px;
			position: relative;

			@media screen and (max-width: 600px) {
				padding: 0;
			}
		}

		span:before {
			background: #BBBBBB;
			content: " ";
			height: 1px;
			left: -85px;
			position: absolute;
			top: 50%;
			width: 85px;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}

		span:after {
			background: #BBBBBB;
			content: " ";
			height: 1px;
			position: absolute;
			right: -85px;
			top: 50%;
			width: 85px;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}
	}

	.partners-icons {
		text-align: center;

		h3 {
			color: #AAAAAA;
			font-size: 0.75em;
			margin: 0;
		}
	}

	.partners-icons img {
		margin: 0 auto 25px;
	}

	.slick-next {
		background: url('/images/right.png') no-repeat right center;
		background-size: 20px 36px;
		height: 36px;
		width: 20px;

		&:before {
			content: " ";
		}

		@media screen and (max-width: 600px) {
			right: 0;
		}
	}

	.slick-prev {
		background: url('/images/left.png') no-repeat left center;
		background-size: 20px 36px;
		height: 36px;
		width: 20px;

		&:before {
			content: " ";
		}

		@media screen and (max-width: 600px) {
			left: 0;
		}
	}
}