#testimonial-section {
	background: url('/images/shadow-bg.png') no-repeat center top;
	background-size: 100% auto;
	padding: 35px 0 50px;
	position: relative;

	@media screen and (max-width: 800px) {
		padding: 30px 0;
	}

	* {
		@include transitions(all 0.5s ease);
	}

	h2 {
		background: url('/images/hov.png') no-repeat center top;
		color: #455A64;
		font-size: 1em;
		letter-spacing: 2px;
		margin: 0 0 15px;
		padding: 30px 0 0;

		@media screen and (max-width: 1340px) {
			margin: 0 0 15px;
		}

		span {
			padding: 0 35px;
			position: relative;

			@media screen and (max-width: 600px) {
				padding: 0;
			}
		}

		span:before {
			background: #BBBBBB;
			content: " ";
			height: 1px;
			left: -85px;
			position: absolute;
			top: 50%;
			width: 85px;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}

		span:after {
			background: #BBBBBB;
			content: " ";
			height: 1px;
			position: absolute;
			right: -85px;
			top: 50%;
			width: 85px;

			@media screen and (max-width: 600px) {
				display: none;
			}
		}
	}

	.slick-arrow {
		display: none !important;
	}

	.testimonial-slider {
		margin: 0;
	}

	.slick-dots {
		position: absolute;
		right: 10px;
		top: 45%;
		width: 20px;
		z-index: 9999;

		@media screen and (max-width: 800px) {
			position: static;
			width: 100%;
		}
	}

	.slick-dots li {
		display: block;
		margin: 5px auto;

		@media screen and (max-width: 800px) {
			display: inline-block;
			margin: 0 2px;
		}
	}

	.slick-dots li button {
		@include border-radius(50%);
		border: 1px solid #B0BEC5;
		background: none;
		height: 10px;
		width: 10px;

		&:before {
			display: none;
		}
	}

	.slick-dots li.slick-active button {
		background: #2780A5;
		border: 1px solid #2780A5;
	}

	.rev-img {
		background: url('/images/rev-circle.png') no-repeat center top;
		background-size: 100% 100%;
		float: left;
		padding: 10px;

		img {
			max-width: 250px;
			width: 100%;
		}

		@media screen and (max-width: 1100px) {
			max-width: 25%;
		}

		@media screen and (max-width: 600px) {
			float: none;
			margin: 0 auto 10px;
			max-width: 250px;
			text-align: center;
		}
	}

	.rev-info {
		float: right;
		padding: 40px 0 10px;
		text-align: left;
		width: 73%;

		@media screen and (max-width: 1100px) {
			padding: 20px 5px 10px 0;
			width: 73%;
		}

		@media screen and (max-width: 600px) {
			padding: 10px 0;
			text-align: center;
			width: 100%;
		}
	}

	.rev-info p {
		color: #90A4AD;
		font-size: 1.125em;
		font-style: italic;
		line-height: 1.8;
		margin: 0 0 30px;
	}

	.rev-info h3 {
		color: #2780A5;
		font-size: 1.5em;
		font-style: italic;
		font-weight: normal;
		margin: 0 0 10px;
	}

	.rev-info h4 {
		color: #A5242E;
		font-size: 0.875em;
		font-style: italic;
		font-weight: normal;
		margin: 0;
	}
}