/* LITO */
.ajax_result{
    font-family: 'Roboto', sans-serif; position: fixed; top: 56px; 
    right: 0px; width: 95%; z-index: 999999; max-width: 300px;
    background: rgba(0, 0, 0, 0.71);

    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.ajax_result .alert-success{
    padding: 10px 30px 10px 10px; color: #fff; position: relative;
    border: solid 1px green;
    background: #75923C;
    max-width: 90%;
    margin: 8px auto; font-size: 15px;
}

.ajax_result .alert-danger{
    padding: 10px 30px 10px 10px; color: #fff; position: relative;
    /*border: solid 1px red;*/
    background: #953735;
    max-width: 90%;
    margin: 8px auto;
    font-size: 15px;
}

.ajax_result .alert-warning{
    padding: 10px 30px 10px 10px; 
    margin:10px;
}

.ajax_result a.close_msg{
    display: inline-block;  padding: 0; margin: 0;
    background: #FFFFFF; border-radius: 50%;
    position: absolute; top: 10px; right: 10px;
    width: 20px; height: 20px;
    font-size: 12px; color: red; text-decoration: none; font-weight: bold;
    line-height: 20px; text-align: center;
}

.ajax_result a.close_msg:hover{
    background: #ccc;
}


.ajax_result .alert-danger a.close_msg{
    background: #F2DDDC; color: #953735; font-weight: bold;
}
.ajax_result .alert-danger a.close_msg:hover{
    background: #fff;
}


.loader_box{
    font-family: 'Roboto', sans-serif; 
    position: fixed;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 99999; top: 0px; left: 0px;
}

.loader_box span{
    display: block; text-align: center;
    margin-top: 20%; color: #fff; font-size: 20px;
}

.global_ajax_loader{
    font-family: 'Roboto', sans-serif; 
    position: fixed;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 99999; top: 0px; left: 0px;
}
.global_ajax_loader span{
    display: block; text-align: center;
    margin-top: 20%; color: #fff; font-size: 30px;
}