

.countdown_wrap{
    font-size: 20px;
    text-align: center;
    padding: 20px; 
}
.countdown_wrap #countdown_display{
    color: #aa0000; font-weight: bold;
}
.countdown_wrap strong{
    color: #009852;
}