.fancybox-container {
	z-index: 9999999;
}

.FE-modal {
	font-family: "Product Sans Regular";
	max-width: 1000px;
	width: 100%;

	.modal-title {
		@include text-gradient(#08B3DE, #02323E);
		font-size: 2em;
	}

	.modal-body img {
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: auto;
		width: 100%;

		@media screen and (max-width: 568px) {
			height: auto;
			max-width: 100%;
			width: auto;
		}
	}

	.modal-body iframe {
		display: block;
		margin: 0 auto;

		@media screen and (max-width: 600px) {
			max-width: 100%;
			width: auto;
		}
	}
}