html, * {
	@include box-sizing;
}

body {
	color: 000;
    font-family: $primary-font;
    font-size: 16px;
    height: auto !important;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: fixed;
}

body#dashboard {
	background: $theme-color;
	padding: 0 !important;
}

h1 {
	color: $theme-second-color;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 300;
	padding-bottom: 10px;

	@media screen and (max-width: 800px) {
		font-size: 25px;
	}

	span {
		color: $font-second-darker;
		font-size: 0.5em;
		padding-left: 10px;

		@media screen and (max-width: 800px) {
			display: block;
			line-height: 1.7;
			padding-left: 0;
			padding-top: 10px;
		}
	}
}

footer.ftr-collapse {
	@media screen and (max-width: 991px) {
		margin-left: 0;
	}
}