
// Body
$body-bg: #F7F7F7;

// Theme Color:
$theme-color: #222D32;
$theme-second-color: #1A2226;
$theme-third-color: #2C3B41;
$theme-dark-blue: #475B6E;
$theme-darker-blue: #354553;

$font-color: #59728D;
$font-second-color: #D4C49C;
$font-second-darker: #C1AA6F;

// Fonts
$primary-font: 'Product Sans Regular';
$secondary-font: 'Roboto', sans-serif;
$font-size: 16px;
$font-small: 14px;
