// transitions
@mixin transitions($transitions) {
	-webkit-transition: $transitions;
	-moz-transition: $transitions;
	-ms-transition: $transitions;
	-o-transition: $transitions;
	transition: $transitions;
}

@mixin transitions-durations($transitions-durations) {
	-webkit-transition-duration: $transitions-durations;
	-moz-transition-duration: $transitions-durations;
	-ms-transition-duration: $transitions-durations;
	-o-transition-duration: $transitions-durations;
	transition-duration: $transitions-durations;
}

// box sizing
@mixin box-sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

// box-shadow
@mixin box-shadow($box-shadow) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	-o-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

// clearfix after
@mixin clearfix {
	content:"."; 
	display:block; 
	height:0; 
	clear:both;
	visibility:hidden;
	font-size: 0;
}

// border radius
@mixin border-radius($radius) {
	-webkit-border-radius:: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

// scale
@mixin scale($scale) {
	-webkit-transform: scale($scale);
	-moz-transform: scale($scale);
	-ms-transform: scale($scale);
	-o-transform: scale($scale);
	transform: scale($scale);
}

// rotate
@mixin rotate($rotate) {
	-webkit-transform: rotate($rotate);
	-moz-transform: rotate($rotate);
	-ms-transform: rotate($rotate);
	-o-transform: rotate($rotate);
	transform: rotate($rotate);
}