body#dashboard.modal-open .modal {
	background-color: rgba(0,0,0,0.7);
}

.content-overide {

	.modal-header {
		background: $theme-color;
		color: #fff;
	}

	button.close {
		color: #fff;
		opacity: 1;
	}

	.modal-content {
		font-family: 'Roboto', sans-serif;

		.modal-header h4 {
			color: #fff;
			font-size: 1.125em;
		}

		.modal-body p {
			font-size: 1em;
		}
	}
}

.body .modal {
	z-index: 9999;

    .error {
        color: #d43f3a;
    }
}

.announcement-series {
	.buttons, button, .btn {
		margin-bottom: 0;
	}

	.modal-dialog {
		margin-top: 50px;
	}

	.modal .modal-dialog {
		animation:animateleft 0.5s
	}

	.modal.in .modal-dialog {
	 animation:animateleft 0.5s
	}

	.multi-pane:before {
		background: url('/images/announcement-before1.png') no-repeat center top;
		background-size: 100% 100%;
		content: " ";
		height: 40px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: -40px;
		width: 95%;
	}

	.single-pane:before {
		background: url('/images/announcement-before2.png') no-repeat center top;
		background-size: 100% 100%;
		content: " ";
		height: 20px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: -20px;
		width: 95%;
	}

	.modal-left {
		float: left;
		width: 35%;
	}

	.modal-right {
		float: right;
		width: 62%;

		.modal-title {
			color: #00488B;
			font-size: 1.125em;
		}

		.modal-title i {
			color: #90A4AC;
			padding-right: 10px;
		}

		.modal-body {
			font-family: 'Roboto', sans-serif;
			height: 400px;
			overflow-y: scroll;
		}

		.modal-body h2 {
			color: #267FA5;
			font-size: 1.625em;
			margin-bottom: 25px;
		}

		.modal-body p {
			color: #455964;
			font-size: 1.125em;
		}
	}

	.modalFooter-left {
		float: left;
		padding: 5px 0;
	}

	.modalFooter-right {
		float: right;
	}
}

.modal-backdrop.in {
	display: none;
}

@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
