@font-face {
  font-family: 'Product Sans Regular';
  src: url('/fonts/Product Sans Regular.eot');
  src: url('/fonts/Product Sans Regular.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/Product Sans Regular.woff2') format('woff2'), 
       url('/fonts/Product Sans Regular.woff') format('woff'), 
       url('/fonts/Product Sans Regular.ttf')  format('truetype'), 
       url('/fonts/Product Sans Regular.svg#svgFontName') format('svg'); 
}