// loading css
.loader {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	color: #fff;
	font-size: 40px;
	background: rgba(0,0,0,0.5);

	i {
		position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		max-width: 35px;
		margin: 0 auto;
	}
}

.top_nav {
	@include transitions(all 0.5s ease);
	font-size: $font-size;

	* {
		@include transitions(all 0.5s ease);
	}

	#top-countdown {
		padding: 5px 15px;
		font-size: 1.25em;

		span {
			font-weight: 700;
			font-size: 1.5625em;
		}
	}
}