body.modal-open {
	padding-right: 0 !important;
}

#app {
	font-family: $primary-font;
}

.clear { 
	clear:both;
}

.full {
	width: 100%;
}

.table-holder {
	@media screen and (max-width: 520px) {
		overflow: scroll;
	}
}

.indented-left {
	margin-left: 15px;
	margin-bottom: 25px;
}

.btn {
	* {
		@include transitions(all 0.5s ease);
	}

	&:focus {
		color: #fff;
	}
}

.black-btn {
	background-color: $theme-second-color;
	border: 1px solid $theme-second-color;
	color: #fff;

	&:hover {
		background-color: $theme-third-color;
		border: 1px solid $theme-third-color;
		color: #fff;
	}
}

.theme-btn {
	background-color: $theme-color;
	border: 1px solid $theme-color;
	color: #fff;

	&:hover {
		background-color: $theme-third-color;
		border: 1px solid $theme-third-color;
		color: #fff;
	}
}

.yellow-btn {
	background-color: $font-second-darker;
	border: 1px solid $font-second-darker;
	color: #fff;

	&:hover {
		background-color: $font-second-color;
		border: 1px solid $font-second-color;
		color: #fff;
	}
}

.yellow-font {
	color: $font-second-darker;
}

.right_col.content-overide {
	// progress bar
	.progress  {
		height: 7px;
		margin: 8px auto 0;
	}
	// color defaults
	// labels
	.tpo-label-success {
		background: #548235;
	}

	.tpo-label-info {
		background: $font-second-darker;
	}

	.tpo-label-default {
		background: #98202A;
	}

	// risk profile
	.riskp-conservative {
		@include border-radius(5px);
		background: #9BC2E6;
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
		text-transform: uppercase;
	}

	.riskp-moderate {
		@include border-radius(5px);
		background: #A9D08E;
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
		text-transform: uppercase;
	}

	.riskp-aggressive {
		@include border-radius(5px);
		background: #F4B084;
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
		text-transform: uppercase;
	}

	.riskp-risky {
		@include border-radius(5px);
		background: #C65911;
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
		text-transform: uppercase;
	}

	.riskp-high-risk {
		@include border-radius(5px);
		background: #98212A;
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
		text-transform: uppercase;
	}

	.tradestat-active {
		background: $font-second-darker;
	}

	.tradestat-pending {
		background: #777777;
	}

	.tradestat-close {
		background: #98202A;
	}
}

// pagination
.pagination {
	li > a {
		color: $theme-color;
	}

	.active > a, 
	.active > a:hover, 
	.active > a:focus, 
	.active > span, 
	.active > span:hover, 
	.active > span:focus {
			background-color: $theme-color;
			border-color: $theme-color;
		}
	
}

.PaginationWrap {
	.paginationInfo{
		display: block;
		float: left;
		margin: 20px 0;
		padding: 7px 0;
	}

	.pagination{
		display: block;
		float: left;
		margin-left: 20px;
	}
}

// clearing
.clearing{
	clear: both;
	display: block;
	float: none;
}

/* Status labels */
.status-completed,
.status-available,
.fund-available {
	background: #548235;
	text-transform: uppercase;
}

.status-cancelled,
.status-closed,
.fund-closed{
	background: #777777;
	text-transform: uppercase;
}

.status-funded-active,
.status-active,
.status-processing,
.fund-active,
.fund-funded-active{
	background: #337ab7;
	text-transform: uppercase;
}

.status-pending,
.status-funded-closed,
.fund-pending{
	background: #a94442;
	text-transform: uppercase;
}


//search button
.x_title h2 {
	position: relative;
}

.toggle-search {
	position: absolute;
	right: 20px;
	top: 7px;
} 