// loading css
.loader, .loader-hold {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	color: #fff;
	font-size: 40px;
	background: rgba(0,0,0,0.5);

	i {
		position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		max-width: 35px;
		margin: 0 auto;
	}
}

.top_nav {
	@include transitions(all 0.5s ease);

	#top-countdown {
		background: $theme-dark-blue;
		@include border-radius(5px);
		color: #fff;
		font-size: 1.0625em;
		font-family: 'Roboto', sans-serif;
		margin: 5px 15px 0 0;
		padding: 10px 20px 10px 10px;

		i {
			font-size: 1.5em;
			color: $font-second-color;
			padding-right: 5px;
		}
	}
}

// .top_nav.top-overide, * {
// 	@include transitions(all 0.5s ease);
// }

.top_nav.top-overide {
	a:hover, a:focus {
		color: $theme-second-color;
	}

	.nav.navbar-nav > li > a {
		color: $font-color;
	}

	.notif-list li i {
		color: $font-second-darker;
		font-size: 1.25em;
		padding-right: 5px;
	}

	.notif-list li:last-child {
		background: $theme-color;

		&:hover {
			background: $theme-third-color;
		}

		a {
			color: #fff;
		}

		&:hover a {
			color: $font-second-darker;
		}
	}

	.notif-list li a {
		line-height: 2.5;

		.notif-value {
			background: $font-second-darker;
			@include border-radius(3px);
			padding: 0 7px;
		}
	}

	.bg-noti {
		background: $font-second-darker;
	}

	.navbar-nav .open .dropdown-menu {
		background: rgba(78,87,91,0.8);
	}

	.dropdown-menu > li > a {
		color: #fff;

		&:hover, &:focus {
			background: $theme-third-color;
		}
	}

	ul.msg_list li {
		background: none;
		margin: 0;
		padding: 0;
		width: 100% !important;
	}

	.navbar-right {
		@media screen and (max-width: 1310px) {
			width: 90%;
		}

		@media screen and (max-width: 700px) {
			width: 80%;
		}

		@media screen and (max-width: 350px) {
			width: 75%;
		}
	}

	.navbar-right li:first-of-type {
		@media screen and (max-width: 990px) {
			display: none;
		}
	}
}
