<template>
    <transition name="modal">
        <div class="modal-mask" @click="close" v-show="show">
            <div class="modal-dialog modal-lg" @click.stop>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" @click="close">&times;</button>
                        <h4 class="modal-title">{{ title }}</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            <div class="form-group">
                                <p><strong>Please type in your user pin code to confirm.</strong></p>
                                <label for="pincode">Pin Code:</label>
                                <input type="password" class="form-control" id="pincode" name="pincode" v-model="record.user.pincode">

                                <span class="help-block error" v-if="errors.has('pincode')" v-text="errors.get('pincode')"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" @click.prevent="submit" class="btn btn-primary btn-block">I understand the consequences, delete this affiliate.</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import Errors from '../../services/errors.js'
    import Hub from '../../events/hub.js'

    export default {
        props: ['show','recordId','title','action'],
        data() {
            return {
                showModal: false,
                record: {
                    user: {
                        pincode: ''
                    }
                },
                errors: new Errors()
            }
        },
        created() {
            // Hub.$on('showConfirmation', this.sayHello)
        },
        methods: {
            close() {
                $('.help-block').text('');

                this.$emit('close')
            },
            submit() {
                $(".loader").fadeIn("fast");

                axios.delete('/admin/affiliates/' + this.recordId, {
                    data: { pincode : this.record.user.pincode }
                })
                .then( (response) => {
                    this.close();

                    $(".loader").fadeOut("fast");
                    flash_message( response.data.title, response.data.message, response.data.status );
                    this.record.user.pincode = '';

                    this.$emit('refreshData');
                })
                .catch( (error) => {
                    $(".loader").fadeOut("fast");
                    this.errors.record(error.response.data.errors);
                });
            }
        },
        mounted() {
            document.addEventListener("keydown", (e) => {
                if (this.show && e.keyCode == 27)
                    this.close();
            });
        }
    }
</script>

<style>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}
</style>
