<template>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ response.table }}
                    <a href="#" class="pull-right" v-if="response.allow.creation" @click.prevent="creating.active = !creating.active">
                        {{ creating.active ? 'Cancel' : 'New record' }}
                    </a>
                </div>

                <div class="panel-body">
                    <div class="well" v-if="creating.active">
                        <form action="#" class="form-horizontal" @submit.prevent="store">
                            <div class="form-group" v-for="column in response.updatable" :class="{ 'has-error': creating.errors[column] }">
                                <label class="col-md-3 control-label" :for="column">{{ column }}</label>
                                <div class="col-md-6">
                                    <input type="text" :id="column" class="form-control" v-model="creating.form[column]">
                                    <span class="help-block" v-if="creating.errors[column]">
                                        <strong>{{ creating.errors[column][0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit" class="btn btn-default">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <form action="#" @submit.prevent="getRecords">
                        <label for="search">Search</label>
                        <div class="row row-fluid">
                            <div class="form-group col-md-3">
                                <select class="form-control" v-model="search.column">
                                    <option :value="column" v-for="column in response.displayable">
                                        {{ column }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <select class="form-control" v-model="search.operator">
                                    <option value="equals">=</option>
                                    <option value="contains">contains</option>
                                    <option value="starts_with">starts with</option>
                                    <option value="ends_with">ends with</option>
                                    <option value="greater_than">greater than</option>
                                    <option value="less_than">less than</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="input-group">
                                    <input type="text" id="search" v-model="search.value" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Search</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="form-group col-md-10">
                            <label for="filter">Quick search current results</label>
                            <input type="text" id="filter" class="form-control" v-model="quickSearchQuery">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="limit">Display records</label>
                            <select id="limit" class="form-control" v-model="limit" @change="response.records.current_page = 1; getRecords();">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="250">250</option>
                                <option value="500">500</option>
                            </select>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th v-for="column in response.displayable">
                                        <!-- <span class="sortable" @click="sortBy(column)">{{ column }}</span> -->
                                        <span class="sortable" @click="response.records.current_page = 1; sortBy(column); getRecords();">{{ column | capitalize }}</span>

                                        <div
                                            class="arrow"
                                            v-if="sort.key === column"
                                            :class="{ 'arrow--asc': sort.order === 'asc', 'arrow--desc': sort.order === 'desc' }"
                                        ></div>
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="record in filteredRecords">
                                    <td v-for="columnValue, column in record">
                                        <template v-if="editing.id === record.id && isUpdatable(column)">
                                            <div class="form-group" :class="{ 'has-error': editing.errors[column] }">
                                                <input type="text" class="form-control" :value="columnValue" v-model="editing.form[column]">
                                                <span class="help-block" v-if="editing.errors[column]">
                                                    <strong>{{ editing.errors[column][0] }}</strong>
                                                </span>
                                            </div>
                                        </template>
                                        <template v-else>
                                            {{ columnValue }}
                                        </template>
                                    </td>
                                    <td>
                                        <a href="#" @click.prevent="showModalWindow(record.id)" class="btn btn-xs theme-btn">
                                            <span class='glyphicon glyphicon-edit'></span>
                                        </a>
                                        <a href="#" @click.prevent="showConfirmModal(record.id)" class="btn btn-xs btn-danger">
                                            <span class='glyphicon glyphicon-remove'></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div>Showing {{ (response.records.current_page - 1) * response.records.per_page + 1 }} to {{((response.records.current_page-1)*response.records.per_page)+response.records.data.length}} of {{response.records.total}} entries</div>

                        <pagination :pagination="response.records" @paginate="getRecords()" :offset="response.records.per_page"></pagination>

                        <affiliates-modal :show="showModal" :recordId="recordId" title="Edit Affiliate" @close="showModal = false" @refreshData="getRecords" ref="modal"></affiliates-modal>

                        <affiliates-confirmation-modal :show="showConfirmation" :recordId="recordId" title="Confirm Action" @close="showConfirmation = false" @refreshData="getRecords"></affiliates-confirmation-modal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import queryString from 'query-string'
    import Hub from '../../events/hub.js'

    export default {
        props: ['endpoint', 'route'],
        data () {
            return {
                showModal: false,
                showConfirmation: false,
                recordId: '',
                response: {
                    table: '',
                    displayable: [],
                    records: {
                        current_page: null,
                        data: [],
                        first_page_url: '',
                        from: null,
                        last_page: null,
                        last_page_url: '',
                        next_page_url: '',
                        path: '',
                        per_page: null,
                        prev_page_url: null,
                        to: null,
                        total: null
                    },
                    allow: {}
                },
                sort: {
                    key: 'id',
                    order: 'asc'
                },
                page: 1,
                limit: 50,
                quickSearchQuery: '',
                editing: {
                    id: null,
                    form: {},
                    errors: []
                },
                search: {
                    value: '',
                    operator: 'equals',
                    column: 'id'
                },
                creating: {
                    active: false,
                    form: {},
                    errors: []
                }
            }
        },
        computed: {
            filteredRecords () {
                let data = this.response.records.data

                data = data.filter((row) => {
                    return Object.keys(row).some((key) => {
                        return String(row[key]).toLowerCase().indexOf(this.quickSearchQuery.toLowerCase()) > -1
                    })
                })

                return data
            }
        },
        methods: {
            getRecords () {
                $(".loader").fadeIn("fast");
                return axios.get(`${this.endpoint}?${this.getQueryParameters()}`).then((response) => {
                    this.response = response.data.data
                    $(".loader").fadeOut("fast");
                    // console.log(response);
                })
            },
            getQueryParameters () {
                return queryString.stringify({
                    limit: this.limit,
                    page: this.response.records.current_page,
                    ...this.sort,
                    ...this.search
                })
            },
            sortBy (column) {
                this.sort.key = column
                this.sort.order = this.sort.order === 'asc' ? 'desc' : 'asc'
            },
            edit (record) {
                /*this.editing.errors = []
                this.editing.id = record.id
                this.editing.form = _.pick(record, this.response.updatable)*/
            },
            isUpdatable (column) {
                return this.response.updatable.includes(column)
            },
            update () {
                axios.patch(`${this.endpoint}/${this.editing.id}`, this.editing.form).then(() => {
                    this.getRecords().then(() => {
                        this.editing.id = null
                        this.editing.form = {}
                    })
                }).catch((error) => {
                    if (error.response.status === 422) {
                        this.editing.errors = error.response.data.errors
                    }
                })
            },
            store () {
                axios.post(`${this.endpoint}`, this.creating.form).then(() => {
                    this.getRecords().then(() => {
                        this.creating.active = false
                        this.creating.form = {}
                        this.creating.errors = []
                    })
                }).catch((error) => {
                    if (error.response.status === 422) {
                        this.creating.errors = error.response.data.errors
                    }
                })
            },
            showModalWindow (recordId) {
                this.recordId = recordId;
                // Hub.$emit('loadData', recordId)
                Hub.$emit('showForm', recordId)
                this.showModal = true;
                // console.log(this.$refs.modal.showForm)
            },
            showConfirmModal (recordId) {
                this.recordId = recordId;
                this.showConfirmation = true;
            },
        },
        mounted () {
            this.getRecords()
        },
    }
</script>

<style lang="scss">
    .sortable {
        cursor: pointer;
    }

    .arrow {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        margin-left: 5px;
        opacity: .6;

        &--asc {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid #222;
        }

        &--desc {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #222;
        }
    }
</style>
