<template>
    <transition name="modal">
        <div class="modal-mask" @click="close" v-show="show">
            <div class="modal-dialog modal-lg" @click.stop>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" @click="close">&times;</button>
                        <h4 class="modal-title">{{ title }}</h4>
                    </div>
                    <div class="modal-body">
                        <template v-if="record.error">
                            <div class="alert alert-danger">
                                <strong>{{record.message}}</strong>
                            </div>
                        </template>
                        <template v-else>
                            <div>
                                <tabs>
                                    <tab name="Basic Information">
                                        <form action="#" method="POST" data-parsley-validate class="modal-form" @keydown="errors.clear($event.target.name)">
                                            <input type="hidden" name="_method" value="PATCH">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">

                                                    <div class="form-group">
                                                        <label for="sponsor">Sponsor</label>
                                                        <span class="form-control">{{ record.sponsor.username + ' | ' + record.sponsor.email }}</span>
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="affilliate_url">Affiliate URL</label>
                                                        <span class="form-control">{{ record.url }}</span>
                                                    </div>

                                                    <div :class="['form-group', errors.has('username') ? 'has-error' : '']">
                                                        <label for="username">Username <span class="required">*</span></label>
                                                        <input type="text" id="username" name="username" v-model="record.user.username" required="required" class="form-control">

                                                        <small class="note">Allowed characters: a to z, A to Z (letters), 0 to 9 (numbers), - (dash), _ (underscore), .(dot/period) and @.</small>

                                                        <span class="help-block" v-if="errors.has('username')" v-text="errors.get('username')"></span>
                                                    </div>

                                                    <div :class="['form-group', errors.has('email') ? 'has-error' : '']">
                                                        <label for="email">Email *</label>
                                                        <input type="email" class="form-control" id="email" name="email" v-model="record.user.email">

                                                        <span class="help-block" v-if="errors.has('email')" v-text="errors.get('email')"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="phone">Cellphone Number</label>
                                                        <input type="text" class="form-control" id="phone" name="phone" v-model="record.user.phone">
                                                    </div>

                                                    <div :class="['form-group', errors.has('firstname') ? 'has-error' : '']">
                                                        <label for="firstname">First Name *</label>
                                                        <input type="text" class="form-control" id="firstname" name="firstname" v-model="record.user.firstname">

                                                        <span class="help-block" v-if="errors.has('firstname')" v-text="errors.get('firstname')"></span>
                                                    </div>

                                                    <div :class="['form-group', errors.has('lastname') ? 'has-error' : '']">
                                                        <label for="lastname">Last Name</label>
                                                        <input type="text" class="form-control" id="lastname" name="lastname" v-model="record.user.lastname">

                                                        <span class="help-block" v-if="errors.has('lastname')" v-text="errors.get('lastname')"></span>
                                                    </div>

                                                    <div :class="['form-group', errors.has('status') ? 'has-error' : '']">
                                                        <label for="status">Status</label>
                                                        <select class="form-control" id="status" name="status" v-model="record.user.status">
                                                            <option value="0">Activated</option>
                                                            <option value="1">Email not yet activated</option>
                                                            <option value="2">Deactivated</option>
                                                        </select>

                                                        <span class="help-block" v-if="errors.has('status')" v-text="errors.get('status')"></span>
                                                    </div>

                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div :class="['form-group', errors.has('password') ? 'has-error' : '']">
                                                        <label for="password">New Password</label>
                                                        <input type="password" class="form-control" id="password" name="password" v-model="record.user.password">
                                                        <small class="note">Leave this empty if you don't want to change your password.</small>

                                                        <span class="help-block" v-if="errors.has('password')" v-text="errors.get('password')"></span>
                                                    </div>

                                                    <div :class="['form-group', errors.has('password_confirmation') ? 'has-error' : '']">
                                                        <label for="password-confirmation">Confirm New Password</label>
                                                        <input type="password" class="form-control" id="password-confirmation" name="password_confirmation" v-model="record.user.password_confirmation">
                                                        <small class="note">Leave this empty if you don't want to change your password.</small>

                                                        <span class="help-block" v-if="errors.has('password_confirmation')" v-text="errors.get('password_confirmation')"></span>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="ln_solid"></div>

                                            <div class="form-group">
                                                <div class="text-center">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="close">Close</button>
                                                    <button type="button" @click="saveData" class="btn btn-primary" :disabled="errors.any()">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </tab>
                                    <tab name="Bit Shares">
                                        <form action="#" method="POST" data-parsley-validate class="modal-form" @keydown="errors.clear($event.target.name)">
                                            <div :class="['form-group', errors.has('bitshares_name') ? 'has-error' : '']">
                                                <label for="bitshares_name">Bit Shares Name *</label>
                                                <input type="bitshares_name" class="form-control" id="bitshares_name" name="bitshares_name" v-model="record.user.bitshares_name">

                                                <span class="help-block" v-if="errors.has('bitshares_name')" v-text="errors.get('bitshares_name')"></span>
                                            </div>

                                            <div class="ln_solid"></div>

                                            <div class="form-group">
                                                <div class="text-center">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="close">Close</button>
                                                    <button type="button" @click="saveBitShares" class="btn btn-primary" :disabled="errors.has('bitshares_name')">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </tab>
                                </tabs>
                            </div>
                        </template>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="close">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" @click="saveData" class="btn btn-primary" :disabled="errors.any()">Save</button>
                    </div> -->
                </div>
            </div>
        </div>
    </transition>
</template>

<script>

import Errors from '../../services/errors.js'
import Hub from '../../events/hub.js'

export default {
    props: ['show','recordId','title','mode'],
    data(){
        return {
            showModal: false,
             record: {
                url: '',
                user: {
                    username: '',
                    email: '',
                    phone: '',
                    firstname: '',
                    lastname: '',
                    status: '',
                    password: '',
                    password_confirmation: '',
                    bitshares_name: '',
                },
                sponsor : {
                    username: '',
                    email: ''
                },
                error: false,
                message: ''
            },
            errors: new Errors(),
            // showErrors: false
        }
    },
    created: function () {
        // this.showForm();
        Hub.$on('loadData',this.loadData)
        Hub.$on('showForm',this.showForm)
    },
    methods: {
        sayHello:function(){
            alert('hello from child')
        },
        close () {
            this.$emit('close')
        },
        savePost () {
            this.close()
        },
        showForm ( recordId) {
            this.clearData();
            this.loadData(recordId);
        },
        loadData ( recordId ) {
            $(".loader").fadeIn("fast");

            axios.get('/admin/affiliates/' + recordId + '/edit')
            .then( (response) => {
                if (response.data.error) {
                    this.record.error = response.data.error;
                    this.record.message = response.data.message;
                } else {
                    this.record.user.username = response.data.user.username;
                    this.record.user.email = response.data.user.email;
                    this.record.user.phone = response.data.user.phone;
                    this.record.user.firstname = response.data.user.firstname;
                    this.record.user.lastname = response.data.user.lastname;
                    this.record.user.status = response.data.user.status;
                    this.record.user.bitshares_name = response.data.user.bitshares_name;

                    this.record.sponsor.username = response.data.sponsor.username;
                    this.record.sponsor.email = response.data.sponsor.email;

                    this.record.url = response.data.url;
                }

                $(".loader").fadeOut("fast");
            })
            .catch( (error) => {
                $(".loader").fadeOut("fast");
            });
        },
        saveData: function (event) {
            this.update();
        },
        saveBitShares: function (event) {
            let formData = {
                bitshares_name: this.record.user.bitshares_name
            }

            axios.put('/admin/affiliates/' + this.recordId + '/bitshares', formData)
            .then( (response) => {
                this.close();
                $(".loader").fadeOut("fast");
                flash_message( response.data.title, response.data.message, response.data.status );
                this.$emit('refreshData');
            })
            .catch( (error) => {
                $(".loader").fadeOut("fast");
                this.errors.record(error.response.data.errors);
                // this.showErrors = true;
            });
        },
        clearData: function (event) {
            this.record.user.username = "";
            this.record.user.email = "";
            this.record.user.phone = "";
            this.record.user.firstname = "";
            this.record.user.lastname = "";
            this.record.user.status = "";
            this.record.user.password = "";
            this.record.user.password_confirmation = "";

            this.record.sponsor.username = "";
            this.record.sponsor.email = "";

            this.record.error = false;
        },
        update: function (event) {
            let formData = {
                username: this.record.user.username,
                email: this.record.user.email,
                phone: this.record.user.phone,
                firstname: this.record.user.firstname,
                lastname: this.record.user.lastname,
                status: this.record.user.status,
            }

            if (this.record.user.password) {
                formData.password = this.record.user.password;
                formData.password_confirmation = this.record.user.password_confirmation;
            }

            $(".loader").fadeIn("fast");
            //update -         | PUT|PATCH | widgets/{widget}
            axios.put('/admin/affiliates/' + this.recordId, formData)
            .then( (response) => {
                this.close();
                $(".loader").fadeOut("fast");
                flash_message( response.data.title, response.data.message, response.data.status );
                this.$emit('refreshData');
            })
            .catch( (error) => {
                $(".loader").fadeOut("fast");
                this.errors.record(error.response.data.errors);
                // this.showErrors = true;
            });
        },//update

    },
    mounted: function () {
        document.addEventListener("keydown", (e) => {
            if (this.show && e.keyCode == 27) {
                this.close();
            }
        });
    }
}
</script>

<style>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    overflow-y: auto;
    transition: opacity .3s ease;
}
</style>
