body.modal-open {
	padding-right: 0 !important;
}

#app {
	font-family: $secondary-font;
}

.clear {
	clear:both;
}

.toggle-hidden {
    display: none;
}

.full {
	width: 100%;
}

.indented-left {
	margin-left: 15px;
	margin-bottom: 25px;
}

.table-holder {
	@media screen and (max-width: 700px) {
		overflow: scroll;
	}
}

.btn2 {
	@include border-radius(3px);
	font-size: 0.875em;
	padding: 3px 8px;
	text-transform: uppercase;
}

.btn:focus {
	color: #fff;
}

.black-btn {
	background-color: $theme-second-color;
	border: 1px solid $theme-second-color;
	color: #fff;

	&:hover {
		background-color: $theme-third-color;
		border: 1px solid $theme-third-color;
		color: #fff;
	}

	&:focus {
		color: #fff;
	}
}

.theme-btn {
	background-color: $theme-color;
	border: 1px solid $theme-color;
	color: #fff;

	&:hover {
		background-color: $theme-third-color;
		border: 1px solid $theme-third-color;
		color: #fff;
	}

	&:focus {
		color: #fff;
	}
}

.yellow-btn {
	background-color: $font-second-darker;
	border: 1px solid $font-second-darker;
	color: #fff;

	&:hover {
		background-color: $font-second-color;
		border: 1px solid $font-second-color;
		color: #fff;
	}

	&:focus {
		color: #fff;
	}
}

.yellow-font {
	color: $font-second-darker;
}

.right_col.content-overide {
	// progress bar
	.progress  {
		height: 7px;
		margin: 8px auto 0;
	}

	.package-stats {
		@include border-radius(5px);
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
	}

	// color defaults
	// labels
	.funded-active, .package-stats.active {
		background: #337ab7;
	}

	.available {
		background: #548235;
	}

	.closed {
		background: #777777;
	}

	// panel
	.tpo-default {
		border-bottom: 1px solid #D9DEE4;
		border-left: 1px solid #D9DEE4;
		border-right: 1px solid #D9DEE4;
		border-top: 3px solid $theme-dark-blue;

		.progress-bar {
			background-color: #9BC2E6;
		}
	}

	.tpo-default .panel-heading {
		background: none;
		padding-bottom: 0;
	}

	.tpo-default .risk-status {
		@include border-radius(5px);
		background: #9BC2E6;
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
		text-transform: uppercase;
	}

	.tpo-primary {
		@extend .tpo-default;

		.progress-bar {
			background-color: #A9D08E;
		}
	}

	.tpo-primary .panel-heading {
		background: none;
		padding-bottom: 0;
	}

	.tpo-primary .risk-status {
		@include border-radius(5px);
		background: #A9D08E;
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
		text-transform: uppercase;
	}

	.tpo-info {
		@extend .tpo-default;

		.progress-bar {
			background-color: #F4B084;
		}
	}

	.tpo-info .panel-heading {
		background: none;
		padding-bottom: 0;
	}

	.tpo-info .risk-status {
		@include border-radius(5px);
		background: #F4B084;
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
		text-transform: uppercase;
	}

	.tpo-warning {
		@extend .tpo-default;

		.progress-bar {
			background-color: #C65911;
		}
	}

	.tpo-warning .panel-heading {
		background: none;
		padding-bottom: 0;
	}

	.tpo-warning .risk-status {
		@include border-radius(5px);
		background: #C65911;
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
		text-transform: uppercase;
	}

	.tpo-danger {
		@extend .tpo-default;

		.progress-bar {
			background-color: #98212A;
		}
	}

	.tpo-danger .panel-heading {
		background: none;
		padding-bottom: 0;
	}

	.tpo-danger .risk-status {
		@include border-radius(5px);
		background: #98212A;
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
		text-transform: uppercase;
	}
}

// pagination
.pagination {
	li > a {
		color: $theme-color;
	}

	.active > a,
	.active > a:hover,
	.active > a:focus,
	.active > span,
	.active > span:hover,
	.active > span:focus {
			background-color: $theme-color;
			border-color: $theme-color;
		}

}

//search button
.x_title h2 {
	position: relative;
}

.toggle-search {
	position: absolute;
	right: 20px;
	top: 7px;
}
