.left_col {

	&.theme-overide, &.scroll-view {
		background: $theme-color;
	}

	.site_title {
		background: $theme-color;
	}
}

.theme-overide {
	* {
		@include transitions(all 0.5s ease);
	}

	.nav_title {
		background: $theme-color;

		.site_title {
			font-size: 0.8125em;
		}

		.site_title img {
			padding-right: 5px;
		}

		span {
			border-left: 1px solid #073642;
			font-weight: bold;
			letter-spacing: 3px;
			margin-left: 10px;
			padding-left: 10px;
		}
	}

	.img-circle.profile_img {
		background: none;
		border: 0;
		margin-top: 10px;
		width: 80%;
	}

	.profile_info {
		padding: 15px 10px;

		h2 {
			font-size: 1.5em;
		}

		span {
			font-size: 0.8125em;
			color: $font-second-darker;
		}
	}

	.menu_section h3 {
		padding-top: 13px;
		padding-bottom: 13px;
		background: $theme-second-color;
	}

	.menu_section > ul {
		margin-top: 0;
	}

	.nav.side-menu > li > a, .nav.child_menu > li > a {
		color: #90A4AD;
	}

	.nav.side-menu > li:hover {
		border-right: 5px solid $font-second-color;
	}

	.nav.side-menu > li > a {

		i {
			color: #fff;
		}

		&:hover {
			background: $theme-third-color;
			padding-right: 10px;
		}

		&:hover i {
			color: $font-second-color;
		}
		
	}

	.nav.side-menu > li.active > a {
		background: $theme-third-color;
		color: #fff;

		i {
			color: $font-second-color;
		}
	}

	.nav.side-menu > li.current-page, .nav.side-menu > li.active {
		border-right: 5px solid $font-second-color;
	}

	.nav.side-menu > li.current-page a:hover, .nav.side-menu > li.active a:hover {
		padding-right: 15px;
	}

	.menu-category {
		margin-bottom: 0;
	}

	.nav.child_menu {
		@include transitions(all 0s ease);
	}

	.bottom-side-menu {
		li {
			background: $theme-second-color;
		}

		.nav > li > a {
			margin-bottom: 1px;
		}

	}

	.sidebar-footer {
		background: $theme-third-color;

		a {
			background: $theme-second-color;
			color: $theme-third-color;
		}

		a:hover {
			background: $theme-third-color;
			color: $theme-second-color;
		}
	}
}

.nav-sm .theme-overide {
	.site_title {
		text-align: center;

		img {
			padding: 0;
		}
	}

	.nav.side-menu > li > a {
		font-size: 8px;
	}

	.nav.side-menu > li:hover {
		border: 0;
	}

	.nav.side-menu > li > a:hover {
		padding-right: 5px;
	}

	.nav.side-menu > li.current-page, .nav.side-menu > li.active {
		border: 0;
	}

	ul.nav.child_menu {
		background: $theme-color;
	}

	.nav.child_menu li.active, .nav.side-menu li.active-sm {
		border-right: 0;
	}
}

.nav-md .theme-overide ul.nav.child_menu li::after {
	border-left: 1px solid $font-second-color;
}

.nav-md .theme-overide ul.nav.child_menu li::before {
	background: $font-second-color;
}