.bank-container {
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;
	margin: 20px auto;

	@media screen and (max-width: 991px) {
		margin: 0 auto;
	}

	button {
		font-size: 1.125em;
		margin-bottom: 15px;

		&.btn:focus {
			color: #fff;
		}
	}

	.x_panel {
		border-top: 3px solid $theme-dark-blue;
	}

	// modal sections
	.modal-body{
		background: #EDEDED;
	}

	.modal-content {
		font-size: 1em;
	}

	.addFund-section {
		@include border-radius(3px);
		background: #fff;
		border: 2px solid #E6E9ED;
		cursor: pointer;
		margin-bottom: 10px;
		padding: 0 10px 10px;

		&:hover .collapse-img {
			@include scale(1.1);
		}

		.collapse-trigger {
			display: block;
		}
		
		.collapse-img {
			@include transitions(all 0.5s ease);
			float: left;
			padding: 10px 0;
			width: 7%;
		}

		.collapseTitle-container {
			float: right;
			padding: 10px 0;
			width: 90%;
		}

		.collapse-title {
			display: block;
			font-size: 1.25em;
		}

		.collapse-caption {
			display: block;
			font-size: 0.9375em;
		}

		.collapse-body {
			border-top: 2px solid #E6E9ED;
			font-size: 0.9375em;
			margin-top: 10px;
			padding: 20px 15px;
		}

		.collapse-body h3 {
			font-size: 1.125em;
		}

		.bg-warning {
			@include border-radius(3px);
			background: #F39C12;
			margin-bottom: 20px;
			padding: 10px;
		}

		.bg-warning h4 {
			font-size: 1.0625em;
		}

		.text-white {
			color: #fff;
		}

		.text-white a {
			color: inherit;
		}

		.text-white a:hover {
			text-decoration: underline;
		}

		.invoice {
			margin-top: 20px;
		}
	}

	// end modal section

	.tile-stats-box {
		font-family: $primary-font;
		margin-bottom: 15px;

		.count {
			padding-bottom: 20px;
		}
	}

	.x_title h2 {
		float: none;
	}

	.breakdown-box {
		border-bottom: 2px solid #E6E9ED;
		margin-bottom: 10px;
		padding: 1px 5px 6px;

		h3 {
			font-size: 1.0625em;
		}

		h3 i {
			color: #2780A5;
			padding-right: 10px;
		}

		h4 {
			font-size: 1em;
			line-height: 1.4;
		}

		span {
			@include border-radius(3px);
			color: #fff;
			padding: 0 5px;
			text-transform: uppercase;
		}

		.in {
			background: $theme-color;
		}

		.out {
			background: $font-second-darker;
		}
	}

	// search box 
	.search-form {
		.btn {
			font-size: 0.875em;
			margin-bottom: 5px;
			margin-right: 0;
		}

		label {
			font-size: 0.875em;
		}
	}

	.history-box {
		font-size: 0.875em;
		position: relative;
		width: 100%;

		.thead-inverse {
			background: $theme-dark-blue;
			color: $font-second-darker;
		}

		.thead-inverse tr th:nth-of-type(2n+2) {
			background: $theme-darker-blue;
		}

		span {
			@include border-radius(3px);
			color: #fff;
			padding: 0 5px;
			text-transform: uppercase;

			@media screen and (max-width: 1320px) {
				display: block;
			}
		}

		span i {
			padding-right: 3px;
		}

		.in {
			background: $theme-color;
		}

		.out {
			background: $font-second-darker;
		}

		.cancelled {

		}

		.pending {
			
		}

		.completed {
			background: #548235;
		}

		p {
			padding: 8px;
		}
	}
}