// faq page admin
.faq-box {
	@include border-radius(0);
	@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
	border: 0;
	border-top: 3px solid $theme-dark-blue;
	font-size: $font-size;
	margin-bottom: 25px;
	padding: 20px;

	.faq-content {
		border-right: 1px solid #D9DEE4;

		@media screen and (max-width: 991px) {
			border: 0;
		}
	}

	.faq-side {
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
	}

	h3 {
		color: #222D32;
		font-size: 1.4375em;
		font-weight: 300;
	}

	h3 a {
		color: #222D32;

		&:hover {
			color: #2780a5;
		}
	}

	p {
		color: #222D32;
		font-size: 0.8125em;
	}

	.generated-content {
		color: #222D32;
		font-size: 1em;
	}

	// modal sections
	.modal-body{
		background: #EDEDED;
	}

	.modal-content {
		font-size: 1em;
	}
}

.faq-ajax-container {

	.modal-content p {
		margin: 10px 0;
	}

	.modal-content img {
		display: block;
		height: auto;
		margin: 15px auto;
		max-width: 100%;
	}
}


.right_col.content-overide {
	.faq-list h3 a:hover {
		color: #2780a5;
	}

	.faq-side a {
		display: inline-block;

		&:hover {
			color: #fff;
		}
	}
}

.faq-section {
	#thumbnail {
		height: auto;
	}
}