.nav-md .container.body .right_col.content-overide {
	padding-bottom: 10px;
}

.right_col.content-overide {
	@include transitions(all 0.5s ease);

	// top thumbnails
	.tile_count * {
		@include transitions(all 0.5s ease);
	}

	.tile_count .tile_stats_count {
		padding: 10px;

		&:before {
			display: none;
		}

		@media screen and (max-width: 991px) {
			border-bottom: 0;
			margin-bottom: 0;
		}
	}

	.x_panel {
		@include border-radius(0);
		@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
		border: 0;
	}

	.header-page {
		padding: 60px 0 5px;
	}

	.tile-stats-box {
		background: #fff;
		border: 1px solid #D9DEE4;
		@include border-radius(0);
		@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
		padding: 10px 15px;
		position: relative;

		* {
			@include transitions(all 0.5s ease);
		}

		.icon-holder img {
			opacity: 0.3;
		}

		&:hover .icon-holder img {
			@include scale(1.1);
		}

		.count_top {
			font-size: 1.125em;
		}

		.count_top i {
			font-size: 0.9375em;
			padding-right: 5px;
		}

		.count {
			color: #2780A5;
			font-size: 2.25em;
			position: relative;
			text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
			z-index: 99;
		}

		.count.green {
			color: #00A559;
		}

		.count_bottom {
			color: #90A4AE;
			font-size: 0.8125em;
		}

		.count_bottom .stats-arw {
			color: $font-second-color;
		}

		.count_bottom:hover .stats-arw {
			padding-left: 15px;
		}

		.icon-holder {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}

	.x_title h2 {
		font-size: 1.125em;
		color: #86879C;

		i {
			padding-right: 5px;
		}
	}

	// dashboard data loader
	#data-loading {
		background: #fff;
		color: #2780A5;
		font-size: 1.75em;
		height: 100%;
		padding-top: 30px;
		position: absolute;
		text-align: center;
		width: 100%;

		i {
			font-size: 1.25em;
		}

		p {
			margin-top: 10px;
		}
	}

	// announcement section
	.x_content {
		@include transitions(all 0s ease);
	}

	.dashboard-thumbs {
		margin-top: 5px;
		max-width: 23%;
		width: 100%;

		@media screen and (max-width: 414px) {
			margin: 5px auto;
			max-width: 118px;
		}
	}

	.pull-left.dashboard-thumbs {
		@media screen and (max-width: 414px) {
			float: none !important;
		}
	}

	.announcement-info {
		max-width: 75%;
		width: 100%;

		@media screen and (max-width: 414px) {
			max-width: 100%;
		}
	}

	.x-content-box {
		border-bottom: 1px solid rgb(230, 233, 237);
		color: #455964;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 10px;
		padding-bottom: 20px;

		@media screen and (max-width: 414px) {
			text-align: center;
		}

		.announcements-title {
			color: #2780A5;
			font-size: 1.125em;
		}

		p {
			font-size: 1em;
			margin-bottom: 10px;
		}

		a {
			color: #98202A;
			font-size: 0.9375em;
		}

		a:hover {
			color: $theme-third-color;
		}
	}

	.panel_toolbox {
		min-width: auto;
	}

	// news section
	.news-box {
		border-bottom: 1px solid rgb(230, 233, 237);
		color: #455964;
		font-family: 'Roboto', sans-serif;
		margin: 5px 0 0;
		padding: 10px 0;

		@media screen and (max-width: 414px) {
			text-align: center;
		}
	}

	.news-content {
		float: right;
		width: 75%;

		@media screen and (max-width: 414px) {
			float: none;
			width: 100%;
		}

		span {
			display: block;
		}

		.news-category {
			color: #98212A;
			font-size: 0.9375em;
		}

		.news-title {
			color: #267FA5;
			font-size: 1.125em;
		}

		.news-exerpt {
			font-size: 1em;
			margin-bottom: 5px;
		}

		a {
			color: #98212A;
			font-size: 0.9375em;
		}

		a:hover {
			color: $theme-third-color;
		}
	}

	.news-socials {
		float: right;
		text-align: center;
		width: 11%;

		h3 {
			font-size: 0.625em;
		}

		ul {
			font-size: 0.75em;
			list-style: none;
			padding: 0;
			text-align: center;
		}

		ul li {
			padding: 2px 0;
		}

		a:hover {
			color: #98212A;
		}
	}


	// faq list
	.faq-list {
		color: #455964;
		font-family: 'Roboto', sans-serif;
		font-size: 1.125em;
		list-style: none;
		padding: 0;

		li {
			border-bottom: 1px solid rgb(230, 233, 237);
			padding: 10px 0;
		}

		a {
			display: block;
		}

		a:hover {
			color: $theme-third-color;
		}
	}

	// notification list
	.notification-list {
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		list-style: none;
		padding: 0;

		li {
			padding: 10px 0;
		}

		.red-notif {
			color: #9B212C;
		}

		.notif-icons {
			color: $font-second-darker;
			font-size: 1.125em;
			padding-left: 5px;
		}

		a:hover {
			color: $theme-third-color;
		}
	}

	// agent container
	.top-agents {
		font-size: $font-size;
	}

	.top-agents h2 {
		border-bottom: 1px solid rgb(230, 233, 237);
		font-size: 1.125em;
		padding-bottom: 10px;
		margin: 0 0 10px; 
	}

	.agent-container {
		margin: 3px auto;
		padding: 5px;

		&:nth-of-type(2n+2) {
			background: #EEEEEE;
		}

		.agent-thumbs {
			max-width: 12%;
			width: 100%;
		}

		.agent-info {
			max-width: 85%;
			width: 100%;
		}

		h3 {
			font-size: 0.875em;
			margin: 0;
		}

		p {
			font-size: 0.8125em;
			line-height: 1.7;
			margin: 0;
		}

		h6 {
			font-size: 0.75em;
			margin: 0;
		}
	}
}

.right_col.content-overide.dashboard-content {
	.x_panel {
		padding-top: 0;
	}

	.x_title {
		background: $theme-dark-blue;
		border: 0;
		margin-left: -17px;
		margin-right: -17px;
		padding-left: 17px;
		padding-right: 17px;
		padding-top: 10px;

		h2 { 
			color: #fff;
		}

		h2 i {
			color: $font-second-darker;
			font-size: 1.5em;
		}
	}

	.panel_toolbox > li > a:hover {
		background: $theme-color;
	}
}