// membership page for not free users
.current-membership {
	font-size: $font-size;

	@media screen and (max-width: 1340px) {
		font-size: $font-small;
	}

	* {
		@include transitions(all 0.5s ease);
	}

	.x_panel {
		border-top: 3px solid $theme-dark-blue;
	}

	.list-group {
		font-size: 1em;

		.list-group-item {
			@include border-radius(0);
			border-bottom: 1px solid #D9DEE4;
			border-left: 0;
			border-right: 0;
			color: $theme-color;
			padding-left: 0;
			padding-right: 0;
		}

		.list-group-item:first-of-type {
			border-top: 0;
		}

		.list-group-item:last-of-type {
			border-bottom: 0;
		}

		span {
			display: block;
		}
	}

	.breakdown-box {
		border-bottom: 2px solid #E6E9ED;
		margin-bottom: 10px;
		padding: 1px 5px 6px;

		h3 {
			font-size: 1.0625em;
			line-height: 1.5;
		}

		h3 i {
			color: #2780A5;
			padding-right: 5px;
		}

		h4 {
			font-size: 1em;
			line-height: 1.4;
		}

		h4 i {
			color: #2780A5;
			padding-right: 5px;
		}
	}

	.info-header {
		text-align: center;

		span {
			display: block;
			font-size: 1.25em;
			font-weight: 700;
			margin: 5px auto;
			padding: 5px 0;
			text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
		}

		.platinum-member {
			background: url(/images/bg-platinum.jpg) no-repeat center top;
			background-size: cover;
			color: #fff;
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
		}

		.gold-member {
			background: url(/images/bg-gold.jpg) no-repeat center top;
			background-size: cover;
			color: #87701D;
		}

		.silver-member {
			background: url(/images/bg-silver.jpg) no-repeat center top;
			background-size: cover;
			color: #565656;
		}
	}

	.info-items {
		color: #2780A5;
		font-weight: 700;

		a {
			color: $theme-dark-blue;
		}

		a:hover {
			color: $theme-darker-blue;
		}
	}
}

.membership-tab {
	@include border-radius(0);
	@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
	background: #fff;
	border-bottom: 1px solid #D9DEE4;
	border-left: 1px solid #D9DEE4;
	border-right: 1px solid #D9DEE4;
	border-top: 3px solid $theme-dark-blue;
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;

	@media screen and (max-width: 1340px) {
		font-size: $font-small;
	}

	.tab-content {
		background: #fff;
		padding: 10px 17px 50px;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border-bottom: 3px solid $theme-second-color;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		background: #fff;
		color: $theme-second-color;
	}

	.nav-tabs li a:hover {
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $theme-second-color;
	}

	.nav-tabs > li {
		margin-bottom: 0;
		padding: 0 10px;
	}

	.nav-tabs li a {
		@include transitions(all 0s ease);
		border-bottom: 3px solid #fff;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		font-size: 0.9375em;
	}

	.tab-title h2 {
		color: $theme-second-color;
		font-size: 1.5625em;
		font-weight: 300;
		margin-bottom: 25px;

		@media screen and (max-width: 1130px) {
			font-size: 1.375em;
		}
	}

	.membership-wrap {
		@include border-radius(5px);
		border: 1px solid #D9DEE4;
		padding: 20px 15px;
	}

	.member-status {
		@include border-radius(5px);
		font-size: 1.25em;
		font-weight: 700;
		padding: 5px 10px;
		text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);

		@media screen and (max-width: 1040px) {
			font-size: 1.125em;
		}

		@media screen and (max-width: 520px) {
			display: block;
			text-align: center;
		}

		&.platinum {
			background: url(/images/bg-platinum.jpg) no-repeat center top;
			background-size: cover;
			color: #fff;
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
		}

		&.gold {
			background: url(/images/bg-gold.jpg) no-repeat center top;
			background-size: cover;
			color: #87701D;
		}

		&.silver {
			background: url(/images/bg-silver.jpg) no-repeat center top;
			background-size: cover;
			color: #565656;
		}
	}

	.tab-subtitle {
		color: $theme-second-color;
		font-size: 1.25em;
		font-weight: 400;
		margin-bottom: 25px;
	}

	.membership-columns {
		@include border-radius(5px);
		border: 1px solid #D9DEE4;
		padding: 20px 15px;

		p {
			color: $theme-color;
			font-size: 0.8125em;
			font-weight: 400;
			margin-bottom: 20px 0;
		}
	}

	label {
		color: $theme-color;
		font-size: 0.8125em;
		font-weight: 400;
		margin-bottom: 10px;
	}

	.fund-summary {
		@include border-radius(5px);
		background: $theme-dark-blue;
		margin-bottom: 20px;
		padding: 15px 5px;
		text-align: center;

		h3 {
			color: #fff;
			font-size: 1.375em;
			font-weight: 400;
		}

		h3 span {
			color: $font-second-darker;
			font-weight: 300;
		}
	}

	table {
		font-size: 0.875em;
		text-align: center;

		@media screen and (max-width: 520px) {
			width: 100%;
		}
	}

	table thead th {
		background: $theme-darker-blue;
		color: $font-second-darker;
		text-align: center;
	}

	table thead th:nth-of-type(2n+2){
		background: $theme-dark-blue;
	}

	table .btn {
		font-size: 0.6875em;
	}

	table td:last-of-type {
		text-transform: uppercase;
	}
}