.footer-overide {
	@include transitions(all 0.5s ease);
	color: #2A3F54;
	font-family: 'Roboto', sans-serif;

	.footer-time span {
		display: block;
	}

	.footer-copyright {
		padding-bottom: 5px;
		padding-top: 5px;
		text-align: right;

		@media screen and (max-width: 991px) {
			text-align: left;
		}
	}
}