// membership
.membership-info {
	font-size: $font-size;
	margin-top: 55px;
	padding-bottom: 90px;
	position: relative;

	@media screen and (max-width: 1400px) {
		font-size: $font-small;
	}

	@media screen and (max-width: 1340px) {
		margin-top: 10px;
	}

	@media screen and (max-width: 980px) {
		padding: 0 10px 90px;
	}

	.mermbership-column {
		@include transitions(all 0.5s ease);
		background: #fff;
		float: left;
		position: relative;
		width: 17.5%;

		&:nth-of-type(even) {
			background: #ECEFF1;
		}

		@media screen and (max-width: 1340px) {
			width: 100%;
		}
	}

	&.tab-membership .mermbership-column {
		width: 33.3%;

		&:nth-of-type(odd) {
			background: #ECEFF1;
		}

		@media screen and (max-width: 1340px) {
			width: 100%;
		}
	}

	.membership-promo {
		position: absolute;
		right: -18px;
		top: -17px;
		z-index: 99999;
	}

	.info-header {
		text-align: center;

		@media screen and (max-width: 1340px) {
			cursor: pointer;
		}
	}

	.membership-title {
		font-size: 1.125em;
		font-weight: 700;
		margin: 0;
		text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	}

	.membership-sub {
		font-size: 3.125em;
		font-weight: 700;
		margin: 0;
		text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);

		.price-inline {
			display: inline-block;
			padding: 0 3px;
			vertical-align: middle;
		}

		.membership-dollar {
			font-size: 0.72em;
		}

		.price-small {
			font-size: 0.48em;
		}

		.year-label {
			display: block;
			font-size: 0.4583em;
		}

		.sub-status {
			display: block;
			font-size: 0.285em;
		}
	}

	.mobile-info {
		
		@media screen and (max-width: 1340px) {
			display: inline-block;
			vertical-align: middle;
			width: 48%;
		}

		@media screen and (max-width: 480px) {
			display: block;
			vertical-align: middle;
			width: 100%;
		}
	}

	.info-btn {
		display: none;
		padding: 5px 15px;

		@media screen and (max-width: 1340px) {
			display: inline-block;
		}

		@media screen and (max-width: 445px) {
			padding: 5px 15px 20px;
		}

		a {
			@include border-radius(5px);
			@include box-shadow(-3px 15px 38px -22px rgba(0,0,0,0.75));
			@include transitions(all 0.5s ease);
			border: 1px solid #fff;
			display: block;
			font-size: 1.5em;
			font-weight: 700;
			margin: 0 auto;
			padding: 10px 5px;
			text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
			width: 100%;
		}

		a:hover {
			@include scale(1.1);
		}

		.fa {
			margin-left: 13px;
			padding-left: 13px;
		}

		.ftr-btn-info {
			display: block;
			font-size: 0.542em;
		}
	}

	.members-list {
		text-align: center;

		ul {
			color: #263238;
			font-size: 1.0625em;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		ul li {
			padding: 15px 10px;

			@media screen and (max-width: 1340px) {
				line-height: 1.8;
			}
		}

		ul li:nth-of-type(odd) {
			@include member-gradient;
		}

		.fa {
			color: #A0A0A0;
			font-size: 1.5em;
			line-height: 0.4;
		}
	}

	.list-label {
		color: #a1a1a1;
		display: none;
		font-size: 0.875em;

		@media screen and (max-width: 1340px) {
			display: block;
		}
	}

	&.tab-membership .list-label {
		display: block;
	}

	.info-footer {
		background: url(/images/shadow.png) repeat-x center top;
		min-height: 180px;
		padding: 70px 5px 15px;
		position: relative;
		text-align: center;

		@media screen and (max-width: 1340px) {
			min-height: auto;
			padding: 20px 5px;
		}

		a {
			@include border-radius(5px);
			@include box-shadow(-3px 15px 38px -22px rgba(0,0,0,0.75));
			@include transitions(all 0.5s ease);
			border: 1px solid #fff;
			display: block;
			font-size: 1.5em;
			font-weight: 700;
			margin: 0 auto;
			max-width: 200px;
			padding: 10px 5px;
			text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
		}

		a:hover {
			@include scale(1.1);
		}

		.fa {
			margin-left: 13px;
			padding-left: 13px;
		}

		.ftr-btn-info {
			display: block;
			font-size: 0.542em;
		}

	}

	.mermbership-column.column1 {
		width: 30%;

		@media screen and (max-width: 1340px) {
			display: none;
		}

		&:after {
			@include box-shadow(5px 0 5px -2px rgba(136,136,136,0.75));
			content: '';
		    position: absolute;
		    width: 5px;
		    height: 100%;
		    top: 0;
		    right: 0;
		    z-index: 9;
		}

		.info-header {
			background: url(/images/bg-free.jpg) no-repeat center top;
			background-size: cover;
			padding: 20px 10px;
		}

		.info-header img {
			max-width: 350px;
			width: 100%;
		}

		.members-list {
			text-align: left;
		}

		ul li {
			padding: 15px 10px 15px 30px;
		}

		.spacing {
			padding: 10px 10px 10px 30px;
		}
	}

	.mermbership-column.column2 {
		.info-header {
			@media screen and (max-width: 1340px) {
				background: url(/images/bg-silver.jpg) no-repeat center top;
				background-size: cover;
			}
		}

		.membership-title {
			background: url(/images/bg-silver.jpg) no-repeat center top;
			background-size: cover;
			color: #565656;
			padding: 20px 5px;

			@media screen and (max-width: 1340px) {
				background: none;
				padding: 15px 5px 0;
			}
		}

		.membership-sub {
			background: url(/images/bg-silver.jpg) no-repeat center top;
			background-size: cover;
			color: #565656;
			min-height: 124px;
			padding: 20px 5px;

			@media screen and (max-width: 1340px) {
				background: none;
				min-height: auto;
				padding: 0 5px 10px;
			}
		}

		.info-header img {
			max-width: 350px;
			width: 100%;
		}

		.spacing {
			line-height: 2.35;

			@media screen and (max-width: 1340px) {
				line-height: 1.8;
			}
		}

		.info-btn a, .info-footer a {
			background: url(/images/btn-silver.png) no-repeat center top;
			background-size: 100% 100%;
			color: #5B5B5B;
		}

		.info-btn .fa, .info-footer .fa {
			border-left: 1px solid #5B5B5B;
		}
	}

	.mermbership-column.column3 {
		@include box-shadow(0px 0px 5px 0px rgba(136,136,136,0.75));

		.info-header {
			@media screen and (max-width: 1340px) {
				background: url(/images/bg-platinum.jpg) no-repeat center top;
				background-size: cover;
			}
		}

		.membership-promo {
			top: -56px;

			@media screen and (max-width: 1340px) {
				top: -17px;
			}
		}

		.membership-title {
			background: url(/images/bg-platinum.jpg) no-repeat center top;
			background-size: cover;
			color: #fff;
			font-size: 2.25em;
			margin-top: -39px;
			padding: 20px 5px;
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);

			@media screen and (max-width: 1340px) {
				background: none;
				margin-top: 0;
				padding: 15px 5px 0;
			}
		}

		.membership-title span {
			display: block;
			font-size: 0.5em;
		}

		.membership-sub {
			background: url(/images/bg-platinum.jpg) no-repeat center top;
			background-size: cover;
			color: #fff;
			min-height: 124px;
			padding: 20px 5px;
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);

			@media screen and (max-width: 1340px) {
				background: none;
				min-height: auto;
				padding: 0 5px 10px;
			}
		}

		.spacing {
			line-height: 2.35;

			@media screen and (max-width: 1340px) {
				line-height: 1.8;
			}
		}

		.members-list .fa {
			color: #333333;
		}

		.info-btn a, .info-footer a {
			background: url(/images/btn-platinum.png) no-repeat center top;
			background-size: 100% 100%;
			color: #fff;
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
		}

		.info-btn .fa, .info-footer .fa {
			border-left: 1px solid #fff;
		}

		p {
			color: #1E1E1E;
			font-size: 0.8125em;
			margin: 15px auto 5px;
			max-width: 200px;
			width: 100%;
		}
	}

	&.tab-membership .mermbership-column.column3 {
		z-index: 9999;
	}

	.mermbership-column.column4 {
		&:after {
			@include box-shadow(5px 0 5px -2px rgba(136,136,136,0.75));
			content: '';
		    position: absolute;
		    width: 5px;
		    height: 100%;
		    top: 0;
		    right: 0;
		    z-index: 9;
		}

		.info-header {
			@media screen and (max-width: 1340px) {
				background: url(/images/bg-gold.jpg) no-repeat center top;
				background-size: cover;
			}
		}

		.membership-title {
			background: url(/images/bg-gold.jpg) no-repeat center top;
			background-size: cover;
			color: #87701D;
			padding: 20px 5px;

			@media screen and (max-width: 1340px) {
				background: none;
				padding: 15px 5px 0;
			}
		}

		.membership-sub {
			background: url(/images/bg-gold.jpg) no-repeat center top;
			background-size: cover;
			color: #87701D;
			min-height: 124px;
			padding: 20px 5px;

			@media screen and (max-width: 1340px) {
				background: none;
				min-height: auto;
				padding: 0 5px 10px;
			}
		}

		.spacing {
			line-height: 2.35;

			@media screen and (max-width: 1340px) {
				line-height: 1.8;
			}
		}

		.members-list .fa {
			color: #D4AF37;
		}

		.info-btn a, .info-footer a {
			background: url(/images/btn-gold.png) no-repeat center top;
			background-size: 100% 100%;
			color: #87701D;
		}

		.info-btn .fa, .info-footer .fa {
			border-left: 1px solid #87701D;
		}
	}

	.mermbership-column.column5 {
		.info-header {
			@media screen and (max-width: 1340px) {
				background: url(/images/bg-free2.jpg) no-repeat center top;
				background-size: cover;
			}
		}

		.membership-title {
			background: url(/images/bg-free2.jpg) no-repeat center top;
			background-size: cover;
			color: #854A1B;
			padding: 20px 5px;

			@media screen and (max-width: 1340px) {
				background: none;
				padding: 15px 5px 0;
			}
		}

		.membership-sub {
			background: url(/images/bg-free2.jpg) no-repeat center top;
			background-size: cover;
			color: #854A1B;
			min-height: 124px;
			padding: 20px 5px;

			@media screen and (max-width: 1340px) {
				background: none;
				min-height: auto;
				padding: 0 5px 10px;
			}
		}

		.spacing {
			line-height: 2.35;

			@media screen and (max-width: 1340px) {
				line-height: 1.8;
			}
		}

		.spacing2 {
			padding: 10px 20px;
		}

		.members-list .fa {
			color: #CD7F32;
		}

		.info-btn a, .info-footer a {
			background: url(/images/btn-free.png) no-repeat center top;
			background-size: 100% 100%;
			color: #854A1B;
		}

		.info-btn .fa, .info-footer .fa {
			border-left: 1px solid #854A1B;
		}
	}
}

// membership info box
.current-member-info {
	color: #222D32;
	font-size: 0.8125em;
	position: relative;

	table td:first-of-type {
		border-right: 1px solid #D9DEE4;
		text-align: left;
	}

	i {
		font-size: 1.5em;
	}

	.silver-info i {
		color: #A0A0A0;
	}

	.gold-info i {
		color: #D4AF37;
	}

	.platinum-info i {
		color: #333333;
	}
}