.myAccount-box {
	font-family: 'Roboto', sans-serif;

	.x_panel {
		border-top: 3px solid $theme-dark-blue;
	}

	.profilePic-container {
		padding: 20px 10px 0;
		text-align: center;

		.display-picture {
			max-width: 100px;
			padding: 5px;
			width: 100%;
		}
	}

	.profile-topInfo {
		font-size: $font-size;
		padding-bottom: 10px;
		text-align: center;

		h3 {
			color: $theme-color;
			font-size: 1.5625em;
			font-weight: 300;
			margin-bottom: 0;
		}

		h4 {
			color: $font-second-color;
			font-size: 0.6875em;
			margin-top: 10px;
		}
	}

	.list-group {
		font-size: 1em;

		.list-group-item {
			border-left: 0;
			border-right: 0;
			padding-left: 0;
			padding-right: 0;
		}

		.input-group {
			margin: 10px auto 0;
		}

		.info-title {
			color: $theme-second-color;
		}
	}
}

.myAccount-tab {
	@include border-radius(0);
	@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
	background: #fff;
	border-bottom: 1px solid #D9DEE4;
	border-left: 1px solid #D9DEE4;
	border-right: 1px solid #D9DEE4;
	border-top: 3px solid $theme-dark-blue;
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;

	@media screen and (max-width: 800px) {
		font-size: $font-small;
	}

	.tab-content {
		background: #fff;
		padding: 10px 10px 50px;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border-bottom: 3px solid $theme-second-color;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		background: #fff;
		color: $theme-second-color;
	}

	.nav-tabs li a:hover {
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $theme-second-color;
	}

	.nav-tabs > li {
		margin-bottom: 0;
		padding: 0 10px;
	}

	.nav-tabs li a {
		@include transitions(all 0s ease);
		border-bottom: 3px solid #fff;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		font-size: 0.9375em;

		i {
			color: $font-second-darker;
			padding-right: 5px;
		}
	}

	.tab-title h2 {
		color: $theme-second-color;
		font-size: 1.5625em;
		font-weight: 300;
		margin-bottom: 25px;
	}

	// account info tab
	.account-form {

		label {
			color: $theme-second-color;
			font-size: 0.6875em;
			font-weight: 400;
			margin-bottom: 5px;
		}

		.form-group {
			margin-bottom: 20px;
		}

		.form-control {
			@include border-radius(5px);
			color: #777777;
			height: auto;
			margin-bottom: 0;
			padding: 10px;
		}

		.form-group .theme-btn {
			margin-top: 25px;
			padding: 10px 0;
			width: 100%;
		}

		p {
			color: #777777;
			font-size: 0.6875em;
			font-style: italic;
			margin: 5px 0 0;
		}
	}

	// bitshares tab
	.bitshares-tab {

		.bitshares-box {
			@include border-radius(5px);
			background: $theme-dark-blue;
			padding: 20px;

			@media screen and (max-width: 991px) {
				margin: 0 auto 10px;
			}

			h3 {
				color: $font-second-color;
				font-size: 1.5625em;
				font-weight: 300;
				margin-top: 0;
			}

			h3 img {
				float: right;
				padding: 5px 0 0;
			}

			p {
				color: #fff;
				font-size: 0.6875em;
			}

			p a {
				color: #fff;
				text-decoration: underline;
			}

			p a:hover {
				color: $font-second-color;
			}
		}

		form {
			margin-top: 25px;

			.form-control {
				@include border-radius(5px);
				color: #777777;
				height: auto;
				margin-bottom: 0;
				padding: 10px;
			}

			p {
				color: #777777;
				font-size: 0.6875em;
				font-style: italic;
				line-height: 1.5;
				margin: 5px 0 40px;
			}

			.theme-btn {
				max-width: 360px;
				padding: 10px 0;
				width: 100%;
			}
		}
	}

	// marketing tab
	.marketing-tab {

		label {
			color: $theme-second-color;
			font-size: 0.6875em;
			font-weight: 400;
			margin-bottom: 10px;
		}

		.theme-btn {
			padding: 10px 0;
			width: 100%;
		}
	}
}