// packages container
.packages-container {
	@include border-radius(0);
	@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
	background: #F7F7F7;
	border-bottom: 1px solid #D9DEE4;
	border-left: 1px solid #D9DEE4;
	border-right: 1px solid #D9DEE4;
	border-top: 3px solid $theme-dark-blue;
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border-bottom: 3px solid $theme-second-color;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $theme-second-color;
	}

	.nav-tabs li a:hover {
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $theme-second-color;
	}

	.nav-tabs > li {
		margin-bottom: 0;
		padding: 0 10px;
	}

	.nav-tabs li a {
		@include transitions(all 0s ease);
		border-bottom: 3px solid #F7F7F7;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		font-size: 0.9375em;
	}

	.tab-content {
		padding: 20px 10px;

		.btn {
			width: 100%;
		}
	}
}

.all-funded {
	padding: 10px 0;
}

// package wrap
.package-wrap {
	@include border-radius(0);
	@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
	background: #fff;
	border-bottom: 1px solid #D9DEE4;
	border-left: 1px solid #D9DEE4;
	border-right: 1px solid #D9DEE4;
	border-top: 3px solid $theme-dark-blue;
	font-size: $font-size;
	margin-bottom: 25px;
	padding: 20px;

	@media screen and (max-width: 1435px) {
		padding: 20px 10px;
	}

	h3 {
		color: $theme-color;
		font-size: 1.4375em;
		font-weight: 300;
	}

	h3 img {
		@include border-radius(50%);
		height: 35px;
		width: 35px;
	}

	.list-group {
		margin-bottom: 10px;
	}

	.list-group-item:first-child,
	.list-group-item:last-child {
		@include border-radius(0);
	}

	.list-group-item {
		border-left: 0;
		border-right: 0;
		padding: 8px 10px;
	}

	span {
		font-size: 0.9375em;
	}

	.info-title {
		color: $theme-color;
		font-size: 0.6875em;
	}

	.package-status {
		@include border-radius(5px);
		color: #fff;
		font-weight: 700;
		padding: 1px 5px;
	}

	.funded {
		color: #2780A5;
	}

	.referral {
		color: #548235;
	}

	.fund-percent {
		color: #548235;
		padding-left: 10px;
	}

	.package-info {
		padding-right: 20px;

		@media screen and (max-width: 1199px) {
			padding-bottom: 15px;
		}

		@media screen and (max-width: 1085px) {
			padding-right: 10px;
		}
	}

	.chart-box {
		border-left: 1px solid #D9DEE4;
		border-right: 1px solid #D9DEE4;
		min-height: 240px;
		padding: 10px 30px;

		@media screen and (max-width: 1199px) {
			border-bottom: 1px solid #D9DEE4;
			border-left: 0;
			border-right: 0;
			border-top: 1px solid #D9DEE4;
		}

		@media screen and (max-width: 1085px) {
			padding: 10px;
		}

		h3 {
			font-size: 0.6875em;
			font-weight: 400;
		}
	}

	.gauge-chart {
		height: 220px;
		min-width: 200px;
		width: 100%;

		@media screen and (max-width: 390px) {
			height: 170px;
		}
	}

	.line-graph {
		// height: 250px;
		min-width: 200px;
	}

	.package-btns {
		text-align: center;

		.btn {
			display: inline-block;
			margin-bottom: 0;
			text-align: left;
			vertical-align: bottom;
			width: auto;
		}

		span {
			border-right: 2px solid #fff;
			margin-right: 3px;
			padding-right: 5px;
		}
	}

	.traiders-info {
		padding-top: 15px;
		text-align: center;

		.trader-avatar {
			@include border-radius(50%);
			border:3px solid #2780A5;
			max-width: 120px;
			padding: 5px;
			width: 100%;
		}

		.trade-avatar {
			max-width: 180px;
			padding: 5px;
			width: 100%;
		}

		h3 {
			color: $theme-color;
			font-size: 1.75em;
			margin-bottom: 15px;
			margin-top: 15px;
		}

		h3 span {
			display: block;
			// font-size: 0.5625em;
			margin-bottom: 5px;
		}

		.crypto {
			@include text-gradient(#A5242E, #3D0E11);
			font-size: 0.5625em;
		}

		.package-trading {
			@include text-gradient(#F8A140, #592204);
		}

		.package-mining {
			@include text-gradient(#08B3DE, #02323E);
		}

		.package-exchange {
			@include text-gradient(#FAE54E, #3C3206);
		}

		.package-shuffle {
			@include text-gradient(#74FDA5, #104929);
		}

		h3 a {
			color: inherit;
		}

		h3 a:hover {
			color: $theme-dark-blue;
		}
	}
}

// package details
.package-details {
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;

	@media screen and (max-width: 1435px) {
		font-size: $font-small;
	}
	
	.x_panel {
		border-bottom: 1px solid #D9DEE4;
		border-left: 1px solid #D9DEE4;
		border-right: 1px solid #D9DEE4;
		border-top: 3px solid $theme-dark-blue;
	}

	.panel-title {
		border-bottom: 1px solid #E6E9ED;
		color: $theme-color;
		font-size: 1.5625em;
		font-weight: 300;
		margin-bottom: 10px;
		padding-bottom: 15px;
	}

	.list-group {
		border-bottom: 1px solid #D9DEE4;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	.list-group-item:first-child, .list-group-item:last-child {
		@include border-radius(0);
	}

	.list-group-item {
		border: 0;
		color: #777777;
		font-size: 0.9375em;
		padding-bottom: 8px;
		padding-top: 8px;
	}

	.fund-form {
		.list-group-item:first-child, .list-group-item:last-child {
			@include border-radius(5px);
		}

		.list-group-item {
			padding-bottom: 12px;
			padding-top: 12px;
		}
	}

	.info-header {
		color: $theme-color;
		font-size: 0.8125em;
		font-weight: 500;
	}

	.info-title {
		color: #777777;
		font-size: 0.75em;
	}

	.package-status {
		@include border-radius(5px);
		color: #fff;
		font-size: 0.9375em;
		font-weight: 700;
		padding: 1px 5px;

		@media screen and (max-width: 1435px) {
			font-size: 0.875em;
		}
	}

	.disclaimer ul {
		font-size: 0.8125em;
		list-style-image: url('/images/arw.png');
		margin: 0;
		padding-left: 20px;

		li {
			color: #777777;
			padding-bottom: 5px;
		}
	}
}

.fund-form {
	.list-group {
		@include border-radius(5px);
		background: $theme-dark-blue;
		border: 0;
		margin-bottom: 20px;
		padding: 0;

		.list-group-item {
			background: $theme-dark-blue;
			color: $font-second-darker;
		}

		.info-title {
			color: #fff;
		}
	}

	label {
		color: $theme-color;
		font-size: 0.8125em;
		font-weight: 400;
	}

	.checkbox label {
		color: #777777;

		a {
			color: $font-second-darker;
		}

		a:hover {
			color: $theme-color;
		}
	}

	p {
		color: #777777;
		fund-size: 0.8125em;

		strong {
			color: $theme-color;
			font-weight: 400;
		}
	}
}

.single-package-container {
	@include border-radius(0);
	@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
	background: #fff;
	border-bottom: 1px solid #D9DEE4;
	border-left: 1px solid #D9DEE4;
	border-right: 1px solid #D9DEE4;
	border-top: 3px solid $theme-dark-blue;
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;

	@media screen and (max-width: 1435px) {
		font-size: $font-small;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background: #fff;
		border-bottom: 3px solid $theme-second-color;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $theme-second-color;
	}

	.nav-tabs li a:hover {
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $theme-second-color;
	}

	.nav-tabs > li {
		margin-bottom: 0;
		padding: 0 10px;
	}

	.nav-tabs li a {
		@include transitions(all 0s ease);
		border-bottom: 3px solid #fff;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		font-size: 0.9375em;
	}

	.tab-content {
		padding: 20px 10px;

		.tab-title {
			color: $theme-color;
			font-size: 1.5625em;
			font-weight: 300;
			margin-bottom: 25px;
		}

		.tab-title.red {
			color: #98202A;
			font-weight: 400;
		}

		.btn {
			width: 100%;
		}

		.form-group .btn {
			width: auto;
		}

		table {
			font-size: 0.875em;
			text-align: center;
		}

		table thead th {
			background: $theme-darker-blue;
			color: $font-second-darker;
			text-align: center;
		}

		table thead th:nth-of-type(2n+2){
			background: $theme-dark-blue;
		}

		table .btn {
			font-size: 0.6875em;
		}

		p {
			font-size: 0.875em;
			margin-top: 25px;
		}

		.fund-form p {
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}

	.package-summary {
		@include border-radius(5px);
		border: 1px solid #D9DEE4;
		margin-bottom: 15px;
		padding: 15px 10px;

		.list-group {
			border: 0;
			margin-bottom: 10px;
			padding-bottom: 0;
		}

		.info-title {
			color: $theme-color;
		}

		.list-group-item {
			padding-bottom: 3px;
			padding-top: 3px;
		}
	}

	.summary-title {
		color: $theme-color;
		border-bottom: 1px solid #D9DEE4;
		font-size: 1.5625em;
		font-weight: 300;
		margin-bottom: 15px;
		padding-bottom: 15px;

		img {
			margin-right: 10px;
		}
	}

	.funded-summary {
		@include border-radius(5px);
		border: 1px solid #D9DEE4;
		padding: 15px 20px;

		h6 {
			color: $theme-color;
			font-size: 0.8125em;
			font-weight: 400;
		}

		@media screen and (max-width: 460px) {
			padding: 15px 10px;
		}
	}

	.fund-summary {
		@include border-radius(5px);
		background: $theme-dark-blue;
		padding: 15px 5px;
		margin-bottom: 20px;
		text-align: center;

		h3 {
			color: #fff;
			font-size: 1.375em;
			font-weight: 400;
		}

		h3 span {
			color: $font-second-darker;
			padding-left: 5px;
		}

		h4 {
			color: #fff;
			font-size: 0.9375em;
			font-weight: 400;
		}

		h4 span {
			color: $font-second-darker;
			font-size: 1.25em;
			padding-left: 5px;
		}

		h5 {
			color: #fff;
			font-size: 0.6875em;
			font-weight: 400;
		}

		h5 span {
			color: $font-second-darker;
			padding-left: 5px;
		}
	}

	#terms .btn.theme-btn {
		width: auto;
	}
}