//referral credits
.referral-container {
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;
	margin: 20px auto;

	@media screen and (max-width: 991px) {
		margin: 0 auto;
	}

	.tile-stats-box {
		font-family: $primary-font;
		margin-bottom: 15px;

		.count {
			padding-bottom: 20px;
		}
	}

	.x_panel {
		border-top: 3px solid $theme-dark-blue;
	}

	.x_title h2 {
		float: none;
	}

	.breakdown-box {
		border-bottom: 2px solid #E6E9ED;
		margin-bottom: 10px;
		padding: 1px 5px 6px;

		h3 {
			font-size: 1.0625em;
		}

		h3 i {
			color: #2780A5;
			padding-right: 10px;
		}

		h4 {
			font-size: 1em;
			line-height: 1.4;
		}

		h5 {
			line-height: 1.4;
		}
	}

	// search box 
	.search-form {
		.btn {
			font-size: 0.875em;
			margin-bottom: 5px;
			margin-right: 0;
		}

		label {
			font-size: 0.875em;
		}
	}

	.referral-box {
		font-size: 0.875em;
		position: relative;
		width: 100%;

		.thead-inverse {
			background: $theme-dark-blue;
			color: $font-second-darker;
		}

		.thead-inverse tr th:nth-of-type(2n+2) {
			background: $theme-darker-blue;
		}

		table .btn {
			font-size: 0.6875em;
			width: 100%;
		}

		table td:last-of-type {
			text-transform: uppercase;
		}
	}
}