#treeView-content {
	@include border-radius(0);
	@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
	background: #fff;
	border-top: 3px solid $theme-dark-blue;
	font-family: 'Roboto', sans-serif;
	padding: 30px 15px 30px 35px;

	@media screen and (max-width: 1150px) {
		font-size: 0.846em;
		padding: 30px 10px;
	}

	@media screen and (max-width: 1024px) {
		font-size: 1em;
	}

	.tableRow {
		position:relative;
		width: 100%;
	}

	.headerRow {
		@extend .tableRow;
		text-align: center;

		div {
			background: $theme-dark-blue;
			color: $font-second-darker;
			float: left;
			font-weight: 700;
			padding: 10px 0;
		}

		div:nth-of-type(2n+2) {
			background: $theme-darker-blue;
		}

		.blankLabel {
			background: none;
			width: 20%;

			@media screen and (max-width: 760px) {
				width: 30%;
			}

			@media screen and (max-width: 414px) {
				width: 40%;
			}
		}

		.userNameLabel {
			border-bottom: 1px solid #D6D6D6;
			width: 15%;

			@media screen and (max-width: 1024px) {
				width: 20%
			}

			@media screen and (max-width: 760px) {
				width: 35%;
			}

			@media screen and (max-width: 414px) {
				width: 60%;
			}
		}

		.firstNameLabel {
			border-bottom: 1px solid #D6D6D6;
			width: 20%;

			@media screen and (max-width: 760px) {
				display: none;
			}
		}

		.lastNameLabel {
			border-bottom: 1px solid #D6D6D6;
			width: 20%;

			@media screen and (max-width: 760px) {
				display: none;
			}
		}

		.dateRegLabel {
			border-bottom: 1px solid #D6D6D6;
			width: 15%;

			@media screen and (max-width: 1024px) {
				display: none;
			}
		}

		.membershipLabel {
			border-bottom: 1px solid #D6D6D6;
			width: 10%;

			@media screen and (max-width: 1024px) {
				background: $theme-dark-blue !important;
				width: 20%
			}

			@media screen and (max-width: 760px) {
				width: 35%;
			}

			@media screen and (max-width: 414px) {
				display: none;
			}
		}
	}

	.parentRow {
		@extend .tableRow;
		text-align: center;

		&:first-of-type .levelOne .tableBar {
			border: 0;
		}
	}

	.tableBar {
		color: #fff;
		float: left;
		text-align: left;
		width: 19%;

		@media screen and (max-width: 760px) {
			width: 29%;
		}

		@media screen and (max-width: 414px) {
			width: 39%;
		}

		&.click {
			cursor: pointer;
		}

		&.isActive i {
			@include rotate(90deg);
		}

		span {
			color: rgba(255,255,255,0.6);
		}
	}

	.tableCol {
		min-height: 40px;
	}

	.tableUserName {
		border-bottom: 1px solid #D6D6D6;
		float: left;
		padding: 10px 0;
		width: 15%;

		@media screen and (max-width: 1024px) {
			width: 20%
		}

		@media screen and (max-width: 760px) {
			width: 35%;
		}

		@media screen and (max-width: 414px) {
			width: 60%;
		}
	}

	.tableFirstName {
		border-bottom: 1px solid #D6D6D6;
		float: left;
		padding: 10px 0;
		width: 20%;

		@media screen and (max-width: 760px) {
			display: none;
		}
	}

	.tableLastName {
		border-bottom: 1px solid #D6D6D6;
		float: left;
		padding: 10px 0;
		width: 20%;

		@media screen and (max-width: 760px) {
			display: none;
		}
	}

	.tableDateReg {
		border-bottom: 1px solid #D6D6D6;
		float: left;
		padding: 10px 0;
		width: 15%;

		@media screen and (max-width: 1024px) {
			display: none;
		}
	}

	.tableMembership {
		border-bottom: 1px solid #D6D6D6;
		float: left;
		padding: 10px 0;
		width: 10%;

		@media screen and (max-width: 1024px) {
			width: 20%
		}

		@media screen and (max-width: 760px) {
			width: 35%;
		}

		@media screen and (max-width: 414px) {
			display: none;
		}
	}

	.levelOne {
		@extend .tableRow;

		.tableBar {
			background: #2F75B5;
			border: 0;
			padding: 10px;
			margin-right: 1%;
			min-height: 39px;
		}

		.tierPaginationWrap{
			background: #9BC2E6;
			margin: 0 0 0 1%;
		}
	}

	.levelTwo {
		@extend .tableRow;
		@include transitions(all 0s ease 0s);
		border: 0;

		.tableBar {
			background: #9BC2E6;
			border: 0;
			padding: 10px;
			margin: 0 1%;
			min-height: 39px;
			width: 18%;

			@media screen and (max-width: 760px) {
				width: 28%;
			}

			@media screen and (max-width: 414px) {
				width: 38%;
			}
		}

		.tierPaginationWrap{
			background: #C65911;
			margin: 0 0 0 2%;
		}
	}

	.levelThree {
		@extend .tableRow;
		@include transitions(all 0s ease 0s);

		.tableBar {
			background: #C65911;
			border: 0;
			padding: 10px;
			margin: 0 1% 0 2%;
			min-height: 39px;
			width: 17%;

			@media screen and (max-width: 760px) {
				width: 27%;
			}

			@media screen and (max-width: 414px) {
				width: 37%;
			}
		}

		.tierPaginationWrap{
			background: #F4B084;
			margin: 0 0 0 3%;
		}
	}

	.levelFour {
		@extend .tableRow;
		@include transitions(all 0s ease 0s);

		.tableBar {
			background: #F4B084;
			border: 0;
			padding: 10px;
			margin: 0 1% 0 3%;
			min-height: 39px;
			width: 16%;

			@media screen and (max-width: 760px) {
				width: 26%;
			}

			@media screen and (max-width: 414px) {
				width: 36%;
			}
		}

		.tierPaginationWrap{
			background: #548235;
			margin: 0 0 0 4%;
		}
	}

	.levelFive {
		@extend .tableRow;
		@include transitions(all 0s ease 0s);

		.tableBar {
			background: #548235;
			border: 0;
			padding: 10px;
			margin: 0 1% 0 4%;
			min-height: 39px;
			width: 15%;

			@media screen and (max-width: 760px) {
				width: 25%;
			}

			@media screen and (max-width: 414px) {
				width: 35%;
			}
		}

		.tierPaginationWrap{
			background: #A9D08E;
			margin: 0 0 0 5%;
		}
	}

	.levelSix {
		@extend .tableRow;
		@include transitions(all 0s ease 0s);

		.tableBar {
			background: #A9D08E;
			border: 0;
			padding: 10px;
			margin: 0 1% 0 5%;
			min-height: 39px;
			width: 14%;

			@media screen and (max-width: 760px) {
				width: 24%;
			}

			@media screen and (max-width: 414px) {
				width: 34%;
			}
		}

		.tierPaginationWrap{
			margin: 0 0 0 6%;
		}
	}

	.tierPaginationWrap{
		background: #2F75B5;
		border-bottom: solid 1px #fff; 
		border-top: solid 1px #fff; 
		color: rgba(255, 255, 255, 0.6);
		line-height: 0px;

		.pagination{
			margin: 8px 0 8px;
		}

		.paginationInfo{
			display: inline-block;
			float: left;
			line-height: 1;
			margin: 18px 10px;
		}
	}
}