// ajax result
.ajax-result {
	@include box-shadow(0 10px 25px rgba(0, 0, 0, 0.5));
	background: rgba(0, 0, 0, 0.71);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;
	max-width: 300px;
	position: fixed;
	right: 0;
	top: 56px;
	width: 95%;
	z-index: 999999;

	.alert-success {
		background: #75923C;
		border: solid 1px green;
		font-size: 0.9375em;
		margin: 8px auto;
		max-width: 90%;
		padding: 10px 30px 10px 10px;
		position: relative;
	}

	.alert-danger{
		background: #953735;
		font-size: 0.9375em;
		margin: 8px auto;
		max-width: 90%;
	    padding: 10px 30px 10px 10px;
	    position: relative;

	    a.close_msg{
		    background: #F2DDDC;
		    color: #953735;
		    font-weight: bold;
		}

		a.close_msg:hover{
		    background: #fff;
		}
	}

	.alert-warning{
		margin:10px;
	    padding: 10px 30px 10px 10px; 
	}

	a.close_msg{
		@include border-radius(50%);
		background: #FFFFFF;
		color: red;
	    display: inline-block;
	    font-size: 0.75em;
	    font-weight: bold;
	    height: 20px;
	    line-height: 20px;
	    margin: 0;
	    padding: 0;
	    position: absolute;
	    right: 10px;
	    text-align: center;
	    text-decoration: none;
	    top: 10px;
	    width: 20px;

	    &:hover {
	    	background: #ccc;
	    }
	}
}

// loader box
.loader_box{
	background: rgba(0, 0, 0, 0.75);
	height: 100%;
	left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;

    span{
    	color: #fff;
	    display: block;
	    font-size: 1.25em;
	    margin-top: 20%;
	    text-align: center;
	}
}

// global ajax loader
.global_ajax_loader{
	background: rgba(0, 0, 0, 0.75);
	height: 100%;
	left: 0;
    position: fixed;
	top: 0;
	width: 100%;
    z-index: 99999; 

    span{
    	color: #fff;
	    display: block;
	    font-size: 1.875em;
	    margin-top: 20%;
	    text-align: center;
	}
}