// transitions
@mixin transitions($trans) {
	-webkit-transition: $trans;
	-moz-transition: $trans;
	-ms-transition: $trans;
	-o-transition: $trans;
	transition: $trans;
}

//  transform
@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-o-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

// box-shadow
@mixin box-shadow($box-shadow) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	-o-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

// box sizing
@mixin box-sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

// clearfix after
@mixin clearfix {
	content:"."; 
	display:block; 
	height:0; 
	clear:both;
	visibility:hidden;
	font-size: 0;
}

// border radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

// border radius bottom
@mixin border-radius-bottom($rad) {
	-webkit-border-bottom-right-radius: $rad;
	-webkit-border-bottom-left-radius: $rad;
	-moz-border-radius-bottomright: $rad;
	-moz-border-radius-bottomleft: $rad;
	border-bottom-right-radius: $rad;
	border-bottom-left-radius: $rad;
}

// membership list gradient
@mixin member-gradient {
	background: rgb(207,216,220);
	background: -moz-linear-gradient(top, rgba(207,216,220,0.25) 0%, rgba(144,164,174,0.25) 100%);
	background: -webkit-linear-gradient(top, rgba(207,216,220,0.25) 0%,rgba(144,164,174,0.25) 100%);
	background: linear-gradient(to bottom, rgba(207,216,220,0.25) 0%,rgba(144,164,174,0.25) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#90a4ae',GradientType=0 );
}

// hover gradient
@mixin hover-gradient {
	background: #3d0e11;
	background: -moz-linear-gradient(top, #3d0e11 0%, #a5242e 100%);
	background: -webkit-linear-gradient(top, #3d0e11 0%,#a5242e 100%);
	background: linear-gradient(to bottom, #3d0e11 0%,#a5242e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d0e11', endColorstr='#a5242e',GradientType=0 );
}

// text gradient
@mixin text-gradient($gradient1, $gradient2) {
	background: -webkit-linear-gradient($gradient1, $gradient2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// button gradient
@mixin button-gradient {
	background: rgb(235,218,184);
	background: -moz-linear-gradient(top, rgba(235,218,184,1) 0%, rgba(199,155,65,1) 100%);
	background: -webkit-linear-gradient(top, rgba(235,218,184,1) 0%,rgba(199,155,65,1) 100%);
	background: linear-gradient(to bottom, rgba(235,218,184,1) 0%,rgba(199,155,65,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebdab8', endColorstr='#c79b41',GradientType=0 );
}

// button gradient hover
@mixin button-gradient-hover {
	background: rgb(199,155,65);
	background: -moz-linear-gradient(top, rgba(199,155,65,1) 0%, rgba(235,218,184,1) 100%);
	background: -webkit-linear-gradient(top, rgba(199,155,65,1) 0%,rgba(235,218,184,1) 100%);
	background: linear-gradient(to bottom, rgba(199,155,65,1) 0%,rgba(235,218,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c79b41', endColorstr='#ebdab8',GradientType=0 );
}

// graph1
@mixin graph1 {
	background: rgb(212,178,108);
	background: -moz-linear-gradient(top, rgba(212,178,108,1) 0%, rgba(255,255,255,1) 25%);
	background: -webkit-linear-gradient(top, rgba(212,178,108,1) 0%,rgba(255,255,255,1) 25%);
	background: linear-gradient(to bottom, rgba(212,178,108,1) 0%,rgba(255,255,255,1) 25%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4b26c', endColorstr='#ffffff',GradientType=0 );
}