.credits-container {
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;

	h2 {
		float: none;
	}

	#referrals-table-container {
		font-size: 0.875em;
		position: relative;
		width: 100%;

		table span {
			@include border-radius(3px);
			color: #fff;
			padding: 0 5px;
			text-transform: uppercase;

			@media screen and (max-width: 1320px) {
				display: block;
			}
		}
	}

	.completed {
		background: #548235;

	}

	.withdrawn {
		background: #AAA;
		color: #000;

	}
}