.right_col.content-overide {
	@include transitions(all 0.5s ease);
	font-family: 'Roboto', sans-serif;

	// top thumbnails
	.tile_count .tile_stats_count {
		padding: 10px;

		&:before {
			display: none;
		}
	}
	
	.tile_count .tile_stats_count * {
		@include transitions(all 0.5s ease);
	}

	.x_panel {
		@include border-radius(0);
		@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
		border: 0;
		border-top: 3px solid $theme-dark-blue;
	}

	.header-page {
		padding: 60px 0 5px;
	}

	.tile-stats-box {
		background: #fff;
		border: 1px solid #D9DEE4;
		@include border-radius(0);
		@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
		padding: 10px 15px;
		position: relative;

		.icon-holder img {
			opacity: 0.3;
		}

		&:hover .icon-holder img {
			@include scale(1.1);
		}

		.count_top {
			font-size: 1.125em;
		}

		.count_top i {
			font-size: 0.9375em;
			padding-right: 5px;
		}

		.count {
			color: #2780A5;
			font-size: 2.25em;
			position: relative;
			text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
			z-index: 99;
		}

		.count.green {
			color: #00A559;
		}

		.count_bottom {
			color: #90A4AE;
			font-size: 0.8125em;
		}

		.count_bottom .stats-arw {
			color: $font-second-color;
		}

		.count_bottom:hover .stats-arw {
			padding-left: 15px;
		}

		.icon-holder {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}

	.x_title h2 {
		font-size: 1.125em;
		color: #86879C;

		i {
			padding-right: 5px;
		}
	}

	// admin home boxes section
	.x_content {
		@include transitions(all 0s ease);
	}

	.x-admin-box {
		border-bottom: 1px solid rgb(230, 233, 237);
		color: #455964;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 10px;
		padding-bottom: 20px;

		.purchase-title {
			color: #2780A5;
			font-size: 1.125em;
		}

		p {
			font-size: 1em;
			margin-bottom: 0;
		}

		p span {
			padding: 0 5px;
		}

		.purchase-title a {
			color: #2780A5;
		}

		.purchase-title a:hover {
			color: $theme-third-color;
		}

		.username {
			font-size: 1.125em;
		}
	}

	.panel_toolbox {
		min-width: auto;
	}

	// datatables head
	.table thead {
		tr th {
			background: $theme-dark-blue;
			color: $font-second-darker;
		}

		tr th:nth-of-type(2n+2) {
			background: $theme-darker-blue;
		}
	}

	// dashboard data loader
	#data-loading {
		background: #fff;
		color: #2780A5;
		font-size: 1.75em;
		height: 100%;
		padding-top: 30px;
		position: absolute;
		text-align: center;
		width: 100%;

		i {
			font-size: 1.25em;
		}

		p {
			margin-top: 10px;
		}
	}

	// notification list
	.notification-list {
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		list-style: none;
		padding: 0;

		li {
			padding: 10px 0;
		}

		.red-notif {
			color: #9B212C;
		}

		.notif-icons {
			color: $font-second-darker;
			font-size: 1.125em;
			padding-left: 5px;
		}

		a:hover {
			color: $theme-third-color;
		}
	}
}

.right_col.content-overide.dashboard-content {
	.x_panel {
		padding-top: 0;
	}

	.x_title {
		background: $theme-dark-blue;
		border: 0;
		margin-left: -17px;
		margin-right: -17px;
		padding-left: 17px;
		padding-right: 17px;
		padding-top: 10px;

		h2 { 
			color: #fff;
		}

		h2 i {
			color: $font-second-darker;
			font-size: 1.5em;
		}
	}

	.panel_toolbox > li > a:hover {
		background: $theme-color;
	}
}