.footer-overide {
	@include transitions(all 0.5s ease);
	color: #2A3F54;
	font-family: 'Roboto', sans-serif;

	.footer-time span {
		display: block;
	}

	.footer-copyright {
		padding: 5px 0;
	}
}