.queue-content {
	font-size: $font-size;

	.panel {
		@include border-radius(0);
		@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
	}
	
	.x_title h2 {
		float: none;
	}

	.queued-btns {
		margin: 0 auto 10px;
	}

	.queued-box {
		font-size: 0.875em;
	}
}