// package info
.package-info {
	font-size: $font-size;

	.panel {
		@include border-radius(0);
		@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
	}

	.panel-heading strong {
		color: $theme-color;
		font-size: 1.4375em;
		font-weight: 300;
	}

	.list-group-item {
		@include border-radius(0);
		border-left: 0;
		border-right: 0;
		font-size: 0.8125em;

		strong {
			color: $theme-color;
			font-weight: 400;
		}

		span {
			font-size: 1.0625em;
		}
	}
}

// package summary
.package-summary {
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;

	.panel-title {
		border-bottom: 1px solid #E6E9ED;
		color: $theme-color;
		font-size: 1.5625em;
		font-weight: 300;
		margin-bottom: 10px;
		padding-bottom: 15px;
	}

	.list-group {
		border-bottom: 1px solid #D9DEE4;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	.list-group-item:first-child, .list-group-item:last-child {
		@include border-radius(0);
	}

	.list-group-item {
		border: 0;
		color: #777777;
		font-size: 0.9375em;
		padding-bottom: 8px;
		padding-top: 8px;
	}

	.info-header {
		color: $theme-color;
		font-size: 0.8125em;
		font-weight: 500;
	}

	.info-title {
		color: #777777;
		font-size: 0.75em;
	}

	.package-status {
		@include border-radius(5px);
		color: #fff;
		font-size: 0.9375em;
		font-weight: 700;
		padding: 3px 12px;
	}

	.active {
		background: $font-second-darker;
	}

	.available {
		background: #548235;
	}

	.closed {
		background: #98202A;
	}
}

// singl package container
.single-package-container {
	@include border-radius(0);
	@include box-shadow(0px 0px 4px 0px rgba(173,171,173,1));
	background: #fff;
	border-bottom: 1px solid #D9DEE4;
	border-left: 1px solid #D9DEE4;
	border-right: 1px solid #D9DEE4;
	border-top: 3px solid $theme-dark-blue;
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background: #fff;
		border-bottom: 3px solid $theme-second-color;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $theme-second-color;
	}

	.nav-tabs li a:hover {
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: $theme-second-color;
	}

	.nav-tabs > li {
		margin-bottom: 0;
		padding: 0 10px;
	}

	.nav-tabs li a {
		@include transitions(all 0s ease);
		border-bottom: 3px solid #F7F7F7;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		font-size: 0.9375em;
	}

	.tab-content {
		padding: 20px 10px;
	}

	.tab-title {
		color: $theme-color;
		font-size: 1.5625em;
		font-weight: 300;
		margin-bottom: 25px;
	}

	.list-group {
		border-bottom: 1px solid #D9DEE4;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	.list-group-item:first-child, .list-group-item:last-child {
		@include border-radius(0);
	}

	.list-group-item {
		border: 0;
		color: #777777;
		font-size: 0.9375em;
		padding-bottom: 8px;
		padding-top: 8px;
	}

	.info-header {
		color: $theme-color;
		font-size: 0.8125em;
		font-weight: 500;
	}

	.info-title {
		color: #777777;
		font-size: 0.75em;
	}

	.package-status {
		@include border-radius(5px);
		color: #fff;
		font-size: 0.9375em;
		font-weight: 700;
		padding: 3px 12px;
	}

	.conservative .risk-status {
		background: #9BC2E6;
	}

	.moderate .risk-status {
		background: #A9D08E;
	}

	.aggressive .risk-status {
		background: #F4B084;
	}

	.risky .risk-status {
		background: #C65911;
	}

	.high-risk .risk-status {
		background: #98202A;
	}

	.table-bordered td, .table-striped td {
		font-size: 0.875em;
	}
}