.payout-container {
	font-family: 'Roboto', sans-serif;
	font-size: $font-size;
	margin: 0 auto 20px;

	@media screen and (max-width: 991px) {
		margin: 0 auto;
	}

	.x_panel {
		border-top: 3px solid $theme-dark-blue;
	}

	// modal sections
	.modal-body{
		background: #EDEDED;
	}

	.modal-content {
		font-size: 1em;
	}

	// end modal section

	.tile-stats-box {
		font-family: $primary-font;
		margin-bottom: 15px;

		* {
			@include transitions(all 0.5s ease);
		}

		.count {
			padding-bottom: 20px;
		}
	}

	.x_title h2 {
		float: none;
	}

	.breakdown-box {
		border-bottom: 2px solid #E6E9ED;
		margin-bottom: 10px;
		padding: 1px 5px 6px;

		h3 {
			font-size: 1.0625em;
		}

		h3 i {
			color: #2780A5;
			padding-right: 10px;
		}

		h4 {
			font-size: 1em;
			line-height: 1.4;
		}
	}

	.list-group-item:first-child,
	.list-group-item:last-child {
		@include border-radius(0);
	}

	.list-group-item {
		border-left: 0;
		border-right: 0;
		padding: 8px 10px;
	}

	span {
		font-size: 0.9375em;
	}

	.info-title {
		color: $theme-color;
		font-size: 0.6875em;
	}

	.history-box {
		font-size: 0.875em;
		position: relative;
		width: 100%;

		span {
			@include border-radius(3px);
			color: #fff;
			padding: 0 5px;
			text-transform: uppercase;

			@media screen and (max-width: 1320px) {
				display: block;
			}
		}

		span i {
			padding-right: 3px;
		}

		.in {
			background: $theme-color;
		}

		.out {
			background: $font-second-darker;
		}

		.complete {
			background: #548235;
		}

		p {
			padding: 8px;
		}

		th a {
			color: $font-second-darker;
			text-decoration: underline;
		}

		th a:hover {
			text-decoration: none;
		}
	}

    .pagination > li > a,
    .pagination > li > span {
        border-radius: 0;
        color: #222D32;
        padding: 6px 12px;
        font-size: 1em;
    }

    .pagination .active > span {
        color: #fff;
    }
}
